---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/youtubepartner openid https://www.googleapis.com/auth/yt-analytics-monetary.readonly https://www.googleapis.com/auth/yt-analytics.readonly",
          "token_type": "Bearer",
          "id_token": "<YT_TEST_ID_TOKEN>"
        }
  recorded_at: Thu, 06 Feb 2020 07:18:29 GMT
- request:
    method: post
    uri: https://www.googleapis.com/youtube/v3/playlistItems?part=snippet
    body:
      encoding: UTF-8
      string: '{"snippet":{"playlistId":"PLpjK416fmKwQlQ0KvTWFmXZZa3d4IO2ro","resourceId":{"kind":"youtube#video","videoId":"9bZkp7q19f0"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "youtube.playlistItem",
            "reason": "playlistItemsNotAccessible",
            "message": "Forbidden"
           }
          ],
          "code": 403,
          "message": "Forbidden"
         }
        }
  recorded_at: Thu, 06 Feb 2020 07:18:30 GMT
recorded_with: VCR 5.1.0
