---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/youtube https://www.googleapis.com/auth/youtube.upload https://www.googleapis.com/auth/youtube.readonly",
          "token_type": "Bearer"
        }
  recorded_at: Sun, 13 Nov 2022 05:36:38 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PLpjK416fmKwQlQ0KvTWFmXZZa3d4IO2ro&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#playlistListResponse",
          "etag": "k8qODU3mIxPdnfjOITcRmM8fsIw",
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#playlist",
              "etag": "bT7EXWZsGF85pO9cr7AiImXIZ-o",
              "id": "PLpjK416fmKwQlQ0KvTWFmXZZa3d4IO2ro",
              "snippet": {
                "publishedAt": "2017-07-14T02:16:18Z",
                "channelId": "UCkRfArvrzheW2E7b6SVT7vQ",
                "title": "What's new & trending",
                "description": "The latest educational and inspirational videos from the official YouTube Creators channel.",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/XdfdwqPgL3I/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/XdfdwqPgL3I/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/XdfdwqPgL3I/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  },
                  "standard": {
                    "url": "https://i.ytimg.com/vi/XdfdwqPgL3I/sddefault.jpg",
                    "width": 640,
                    "height": 480
                  },
                  "maxres": {
                    "url": "https://i.ytimg.com/vi/XdfdwqPgL3I/maxresdefault.jpg",
                    "width": 1280,
                    "height": 720
                  }
                },
                "channelTitle": "YouTube Creators",
                "localized": {
                  "title": "What's new & trending",
                  "description": "The latest educational and inspirational videos from the official YouTube Creators channel."
                }
              }
            }
          ]
        }
  recorded_at: Sun, 13 Nov 2022 05:36:38 GMT
- request:
    method: put
    uri: https://www.googleapis.com/youtube/v3/playlists?part=snippet
    body:
      encoding: UTF-8
      string: '{"snippet":{"title":"What''s new \u0026 trending","description":"The
        latest educational and inspirational videos from the official YouTube Creators
        channel.","tags":[]},"id":"PLpjK416fmKwQlQ0KvTWFmXZZa3d4IO2ro"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 403,
            "message": "This operation is forbidden or the request is not properly authorized.",
            "errors": [
              {
                "message": "This operation is forbidden or the request is not properly authorized.",
                "domain": "youtube.playlist",
                "reason": "playlistForbidden"
              }
            ]
          }
        }
  recorded_at: Sun, 13 Nov 2022 05:36:38 GMT
recorded_with: VCR 6.1.0
