---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/youtube.upload https://www.googleapis.com/auth/youtube.readonly https://www.googleapis.com/auth/youtube",
          "token_type": "Bearer"
        }
  recorded_at: Sun, 13 Nov 2022 05:36:36 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?maxResults=50&part=snippet,status&playlistId=PLpjK416fmKwQlQ0KvTWFmXZZa3d4IO2ro
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#playlistItemListResponse",
          "etag": "oJbVRkBtALsbKsDvsTAvb_JazDk",
          "nextPageToken": "EAAaBlBUOkNESQ",
          "items": [
            {
              "kind": "youtube#playlistItem",
              "etag": "7nI4OUxPPhbAmCky4FFH1II877E",
              "id": "UExwaks0MTZmbUt3UWxRMEt2VFdGbVhaWmEzZDRJTzJyby4xNjUyOTE5MTRBMzJFRDQ5",
              "snippet": {
                "publishedAt": "2022-11-10T18:42:17Z",
                "channelId": "UCkRfArvrzheW2E7b6SVT7vQ",
                "title": "Live Q&A",
                "description": "Live Q&A is a feature in Live Control Room that lets you create and manage Q&A sessions in Live Chat during your streams and premieres. Interacting with your viewers during a stream is a great way to deepen your connection to your audience, and Live Q&A lets you build community while smoothly managing on-topic questions!\n\nCheck out this Help Center article for more info: https://support.google.com/youtube/answer/2524549?hl=en&ref_topic=9257792\n\n00:00 Live Q&A Overview\n00:30 How to Start a Q&A Session\n00:51 How to Select a Question\n01:36 How to End a Live Q&A Session\n01:47 Reporting Inappropriate Questions\n\nSubscribe and hit the bell to see new videos: https://goo.gl/So4XIG\n\n► Check out our Help Center: https://goo.gl/fBzr7",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/XdfdwqPgL3I/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/XdfdwqPgL3I/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/XdfdwqPgL3I/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  },
                  "standard": {
                    "url": "https://i.ytimg.com/vi/XdfdwqPgL3I/sddefault.jpg",
                    "width": 640,
                    "height": 480
                  },
                  "maxres": {
                    "url": "https://i.ytimg.com/vi/XdfdwqPgL3I/maxresdefault.jpg",
                    "width": 1280,
                    "height": 720
                  }
                },
                "channelTitle": "YouTube Creators",
                "playlistId": "PLpjK416fmKwQlQ0KvTWFmXZZa3d4IO2ro",
                "position": 0,
                "resourceId": {
                  "kind": "youtube#video",
                  "videoId": "XdfdwqPgL3I"
                },
                "videoOwnerChannelTitle": "YouTube Creators",
                "videoOwnerChannelId": "UCkRfArvrzheW2E7b6SVT7vQ"
              },
              "status": {
                "privacyStatus": "public"
              }
            },
            {
              "kind": "youtube#playlistItem",
              "etag": "3ozWq5hbViUH-20JBxDr-2bPsoI",
              "id": "UExwaks0MTZmbUt3UWxRMEt2VFdGbVhaWmEzZDRJTzJyby5GMkQ5ODc0ODVFODMwNjM0",
              "snippet": {
                "publishedAt": "2022-11-04T15:41:58Z",
                "channelId": "UCkRfArvrzheW2E7b6SVT7vQ",
                "title": "Handles, Creator Music, and Stylized Descriptions | Creator Roundup by TeamYouTube",
    [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?maxResults=50&pageToken=EAAaBlBUOkNESQ&part=snippet,status&playlistId=PLpjK416fmKwQlQ0KvTWFmXZZa3d4IO2ro
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#playlistItemListResponse\",\n  \"etag\": \"N1apy_xX-DNATRqAg1o_4R9LZ4c\",\n
        \ \"nextPageToken\": \"EAAaBlBUOkNHUQ\",\n  \"prevPageToken\": \"EAEaBlBUOkNESQ\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#playlistItem\",\n      \"etag\":
        \"ENLLnhJZzNs9vpgmjOvrQL6W2tk\",\n      \"id\": \"UExwaks0MTZmbUt3UWxRMEt2VFdGbVhaWmEzZDRJTzJyby42MTk5OTRCREQ5RkNFODZF\",\n
        \     \"snippet\": {\n        \"publishedAt\": \"2021-06-29T16:34:48Z\",\n
        \       \"channelId\": \"UCkRfArvrzheW2E7b6SVT7vQ\",\n        \"title\": \"Building
        Community on YouTube | Amplify Voices featuring Tiffany Rothe (TiffanyRo[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?maxResults=50&pageToken=EAAaBlBUOkNHUQ&part=snippet,status&playlistId=PLpjK416fmKwQlQ0KvTWFmXZZa3d4IO2ro
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
     [...]
- request:
    method: delete
    uri: https://www.googleapis.com/youtube/v3/playlistItems?id=UExwaks0MTZmbUt3UWxRMEt2VFdGbVhaWmEzZDRJTzJyby4xNjUyOTE5MTRBMzJFRDQ5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 403,
            "message": "Forbidden",
            "errors": [
              {
                "message": "Forbidden",
                "domain": "youtube.playlistItem",
                "reason": "playlistItemsNotAccessible",
                "location": "id",
                "locationType": "parameter"
              }
            ]
          }
        }
  recorded_at: Sun, 13 Nov 2022 05:36:37 GMT
recorded_with: VCR 6.1.0
