---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/yt-analytics.readonly https://www.googleapis.com/auth/yt-analytics-monetary.readonly openid https://www.googleapis.com/auth/youtubepartner https://www.googleapis.com/auth/userinfo.email",
          "token_type": "Bearer",
          "id_token": "<YT_TEST_ID_TOKEN>"
        }
  recorded_at: Wed, 12 Feb 2020 17:13:21 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PLbj-IDe6g8vtax1SakLEwOdOEv-nvjiy0&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/N2QkISiq3HuQBksL5gL1oltVmpw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlistListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/N2QkISiq3HuQBksL5gL1oltVmpw\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#playlist",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/A--7XXzCObKSYApyieWPG2oOtYQ\"",
           "id": "PLbj-IDe6g8vtax1SakLEwOdOEv-nvjiy0",
           "snippet": {
            "publishedAt": "2020-02-12T17:12:14.000Z",
            "channelId": "UCAmh1DexLGcMtDlzMCIxo4w",
            "title": "Yt Test Playlist",
            "description": "",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/B9lEC_cXZMQ/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/B9lEC_cXZMQ/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/B9lEC_cXZMQ/hqdefault.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "Derek Barnes",
            "localized": {
             "title": "Yt Test Playlist",
             "description": ""
            }
           }
          }
         ]
        }
  recorded_at: Wed, 12 Feb 2020 17:13:21 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PLbj-IDe6g8vtax1SakLEwOdOEv-nvjiy0&part=status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/2S7gtsYUYJFahiFsspvO14QZJI8"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlistListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/2S7gtsYUYJFahiFsspvO14QZJI8\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#playlist",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/N-Ly0P7rB8ikVBOKFVdRoa3TYJg\"",
           "id": "PLbj-IDe6g8vtax1SakLEwOdOEv-nvjiy0",
           "status": {
            "privacyStatus": "public"
           }
          }
         ]
        }
  recorded_at: Wed, 12 Feb 2020 17:13:21 GMT
- request:
    method: post
    uri: https://www.googleapis.com/youtube/v3/playlistItems?part=snippet
    body:
      encoding: UTF-8
      string: '{"snippet":{"playlistId":"PLbj-IDe6g8vtax1SakLEwOdOEv-nvjiy0","resourceId":{"kind":"youtube#video","videoId":"not-a-video"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "youtube.playlistItem",
            "reason": "videoNotFound",
            "message": "Video not found."
           }
          ],
          "code": 404,
          "message": "Video not found."
         }
        }
  recorded_at: Wed, 12 Feb 2020 17:13:21 GMT
recorded_with: VCR 5.1.0
