---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/yt-analytics.readonly https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/youtubepartner openid https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
          "token_type": "Bearer",
          "id_token": "<YT_TEST_ID_TOKEN>"
        }
  recorded_at: Wed, 12 Feb 2020 20:41:18 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?maxResults=50&mine=true&part=snippet,status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/mrg060B-bk7cbX6J0Wn8FHEd6pc"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#channelListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/mrg060B-bk7cbX6J0Wn8FHEd6pc\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#channel",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/oIGb4qnyz6TSfmKE9O9vxBawm9M\"",
           "id": "UCAmh1DexLGcMtDlzMCIxo4w",
           "snippet": {
            "title": "Derek Barnes",
            "description": "",
            "publishedAt": "2018-08-28T00:13:02.000Z",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/a/AGF-l7_4Is2lyk1T7gOOszzreBuXkgAe50jM9SauZw=s88-c-k-c0xffffffff-no-rj-mo",
              "width": 88,
              "height": 88
             },
             "medium": {
              "url": "https://yt3.ggpht.com/a/AGF-l7_4Is2lyk1T7gOOszzreBuXkgAe50jM9SauZw=s240-c-k-c0xffffffff-no-rj-mo",
              "width": 240,
              "height": 240
             },
             "high": {
              "url": "https://yt3.ggpht.com/a/AGF-l7_4Is2lyk1T7gOOszzreBuXkgAe50jM9SauZw=s800-c-k-c0xffffffff-no-rj-mo",
              "width": 800,
              "height": 800
             }
            },
            "localized": {
             "title": "Derek Barnes",
             "description": ""
            },
            "country": "US"
           },
           "status": {
            "privacyStatus": "public",
            "isLinked": true,
            "longUploadsStatus": "eligible"
           }
          }
         ]
        }
  recorded_at: Wed, 12 Feb 2020 20:41:18 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=views&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "views",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              50
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:41:18 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=comments&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "comments",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:41:19 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=likes&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "likes",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:41:20 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=dislikes&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "dislikes",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:41:20 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=shares&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "shares",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:41:21 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=subscribersGained&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "subscribersGained",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              2
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:41:21 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=subscribersLost&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "subscribersLost",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:41:21 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=videosAddedToPlaylists&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "videosAddedToPlaylists",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              4
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:41:22 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=videosRemovedFromPlaylists&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "videosRemovedFromPlaylists",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              2
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:41:23 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=estimatedMinutesWatched&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "estimatedMinutesWatched",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              17
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:41:23 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=averageViewDuration&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "averageViewDuration",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              21
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:41:23 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=averageViewPercentage&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "averageViewPercentage",
              "columnType": "METRIC",
              "dataType": "FLOAT"
            }
          ],
          "rows": [
            [
              6.6199999999999992
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:41:24 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=annotationClicks&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "annotationClicks",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:41:25 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=annotationClickThroughRate&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "annotationClickThroughRate",
              "columnType": "METRIC",
              "dataType": "FLOAT"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:41:26 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=annotationCloseRate&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "annotationCloseRate",
              "columnType": "METRIC",
              "dataType": "FLOAT"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:41:26 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=cardImpressions&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "cardImpressions",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:41:27 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=cardClicks&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "cardClicks",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:41:27 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=cardClickRate&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "cardClickRate",
              "columnType": "METRIC",
              "dataType": "FLOAT"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:41:28 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=cardTeaserImpressions&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "cardTeaserImpressions",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:41:29 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=cardTeaserClicks&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "cardTeaserClicks",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:41:29 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=cardTeaserClickRate&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "cardTeaserClickRate",
              "columnType": "METRIC",
              "dataType": "FLOAT"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:41:30 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?dimensions=gender,ageGroup&endDate=2020-02-12&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=viewerPercentage&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "gender",
              "columnType": "DIMENSION",
              "dataType": "STRING"
            },
            {
              "name": "ageGroup",
              "columnType": "DIMENSION",
              "dataType": "STRING"
            },
            {
              "name": "viewerPercentage",
              "columnType": "METRIC",
              "dataType": "FLOAT"
            }
          ],
          "rows": []
        }
  recorded_at: Wed, 12 Feb 2020 20:41:31 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=estimatedRevenue,estimatedMinutesWatched&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 403,
            "message": "Forbidden",
            "errors": [
              {
                "message": "Forbidden",
                "domain": "global",
                "reason": "forbidden"
              }
            ]
          }
        }
  recorded_at: Wed, 12 Feb 2020 20:41:31 GMT
recorded_with: VCR 5.1.0
