---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/yt-analytics.readonly https://www.googleapis.com/auth/youtubepartner openid https://www.googleapis.com/auth/yt-analytics-monetary.readonly https://www.googleapis.com/auth/userinfo.email",
          "token_type": "Bearer",
          "id_token": "<YT_TEST_ID_TOKEN>"
        }
  recorded_at: Thu, 06 Feb 2020 07:13:08 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?forMine=true&maxResults=50&order=viewCount&part=snippet&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/8c8yeOoT4Y1GA9UzrlxaJ7h3ysg"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/8c8yeOoT4Y1GA9UzrlxaJ7h3ysg\"",
         "nextPageToken": "Cib3AAAAAP____8wdWl2ckI2Njd1YwD_Af_-MHVpdnJCNjY3dWMAARATIdZeR03mYiWvOQAAAAD_____SAdQAloLCdAr8fHD1EmdEANg2JbnkQU=",
         "pageInfo": {
          "totalResults": 19,
          "resultsPerPage": 50
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/-RtjA4zfJqntOxqw9aPsd5AXego\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "CSnXBnu7qjA"
           },
           "snippet": {
            "publishedAt": "2018-09-18T00:21:58.000Z",
            "channelId": "UCAmh1DexLGcMtDlzMCIxo4w",
            "title": "Example Yt Test ‹ ›",
            "description": "Yt Example Description  0.6248612637250377 - ®•♡❥❦❧☙",
            "thumbnails": {
             "default": {
              "url": "https://i9.ytimg.com/vi/CSnXBnu7qjA/default.jpg?sqp=CMj37vEF&rs=AOn4CLA_SVGPxLktc3CTb6Sc9XkApqrpxA",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i9.ytimg.com/vi/CSnXBnu7qjA/mqdefault.jpg?sqp=CMj37vEF&rs=AOn4CLCek27zv2GUujFb8XogeelXeD2I9A",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i9.ytimg.com/vi/CSnXBnu7qjA/hqdefault.jpg?sqp=CMj37vEF&rs=AOn4CLBx-zbjwCpeSoVrOMhuSTVFXXCUiQ",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "Derek Barnes",
            "liveBroadcastContent": "none"
           }
          },
          {
           "kind": "youtube#searchResult",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/tYOCThEYV5hJ-B2S-LQsPPEn-uI\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "mio1RltQdw4"
           },
           "snippet": {
            "publishedAt": "2018-12-20T22:25:36.000Z",
            "channelId": "UCAmh1DexLGcMtDlzMCIxo4w",
            "title": "Yt Example Update Video 0.11456685288118662 - ®•♡❥❦❧☙",
            [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=CSnXBnu7qjA&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/WPX9-2UzdRCSimRjKpJozD_VKf8"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         [...]
