---
title:  "Yt::Channel"
h2: "Channels"
---

<p>
  <code>Yt::Channel</code> represents a YouTube channel.
  Initialize using either the YouTube ID or URL:
</p>

{% highlight ruby %}
channel = Yt::Channel.new id:  'UCxO1tY8h1AhOz0T4ENwmpow'
# => #<Yt::Channel:0x... @id="UCxO1tY8h1AhOz0T4ENwmpow">
{% endhighlight %}

<p>
  Some methods from other classes also return a <code>Yt::Channel</code> object
  (e.g.: <code>Yt::Account#channel</code>) or a collection of <code>Yt::Channel</code>
  objects (e.g.: <code>Yt::Account#subscribed_channels</code>).
</p>

<hr />
<h4>Authentication</h4>

<p>
  Most methods of <code>Yt::Channel</code> <strong>retrieve public data</strong> from YouTube (e.g.: fetch a channel’s title and videos).<br />
  To use these methods (marked with <span class="label label-success">&nbsp;</span> below), you only need to <a href="https://github.com/Fullscreen/yt#apps-that-do-not-require-user-interactions">get a Server API key from Google</a> and configure:
</p>

{% highlight ruby %}
Yt.configuration.api_key = "<your api key>"              ## replace with your API key

channel = Yt::Channel.new id: 'UCxO1tY8h1AhOz0T4ENwmpow' ## use any channel ID
channel.title
# => "Fullscreen"
{% endhighlight %}

<p>
  Other methods <strong>acts on behalf of YouTube accounts</strong> (e.g.: subscribe to a channel, delete playlists).<br />
  To use these methods (marked with  <span class="label label-warning">&nbsp;</span> below), you need to <a href="https://github.com/Fullscreen/yt#web-apps-that-require-user-interactions">get an API Client ID/Secret from Google</a>, <a href="https://github.com/Fullscreen/yt#web-apps-that-require-user-interactions">obtain an access or refresh token</a> from the account you want to act as, and pass the account as the <code>:auth</code> parameter:
</p>

{% highlight ruby %}
Yt.configuration.client_id = "<your ID>"           ## replace with your client ID
Yt.configuration.client_secret = "<your secret>"   ## replace with your client secret
account = Yt::Account.new refresh_token: "<token>" ## use the account’s refresh token

channel = Yt::Channel.new id: 'UCxO1tY8h1AhOz0T4ENwmpow', auth: account
channel.subscribe
# => true (the account subscribed to the channel)
{% endhighlight %}

<p>
  Lastly, some methods <strong>acts on behalf of YouTube content owners</strong> (e.g.: fetch the earnings of a channel).<br />
  To use these methods (marked with  <span class="label label-danger">&nbsp;</span> below), you need to <a href="https://github.com/Fullscreen/yt#web-apps-that-require-user-interactions">get an API Client ID/Secret from Google</a>, <a href="https://github.com/Fullscreen/yt#web-apps-that-require-user-interactions">obtain an access or refresh token</a> from the content owner, and pass the content owner as the <code>:auth</code> parameter:
</p>

{% highlight ruby %}
Yt.configuration.client_id = "<your ID>"           ## replace with your client ID
Yt.configuration.client_secret = "<your secret>"   ## replace with your client secret
owner = Yt::ContentOwner.new owner_name: "<name>", ## replace with owner’s credentials
                             refresh_token: "<token>"

channel = Yt::Channel.new id: 'UCxO1tY8h1AhOz0T4ENwmpow', auth: owner
channel.estimated_revenue since: 3.days.ago
# => {Wed, 8 May 2014 => 12.4, Thu, 9 May 2014 => 3.2, Fri, 10 May 2014 => …}
{% endhighlight %}

<hr />
<h4>List of <code>Yt::Channel</code> methods</h4>
<dl>

  {% include dt.html title="Channel’s Snippet" label="success" auth="any authentication works" %}
  <dd><a class="anchor" id="snippet"></a><div class="highlight"><pre>
{% include doc.html link="Models/Resource#id" %}{% include example.html object='channel' method='id' result='"UCxO1tY8h1AhOz0T4ENwmpow"' %}
{% include doc.html link="Models/Channel#title" %}{% include example.html object='channel' method='title' result='"Fullscreen"' %}
{% include doc.html link="Models/Channel#description" %}{% include example.html object='channel' method='description' result='"The media company for the connected generation"' %}
{% include doc.html link="Models/Channel#published_at" %}{% include example.html object='channel' method='published_at' result='2006-03-23 06:13:25 UTC' %}
{% include doc.html link="Models/Channel#thumbnail_url" %}{% include example.html object='channel' method='thumbnail_url' result='"https://yt3.ggpht.com/-KMnbKDBl60w/photo.jpg"' %}</pre>
  </div></dd>

  {% include dt.html title="Channel’s Statistics" label="success" auth="any authentication works" %}
  <dd><a class="anchor" id="statistics"></a><div class="highlight"><pre>
{% include doc.html link="Models/Channel#view_count" %}{% include example.html object='channel' method='view_count' result='9' %}
{% include doc.html link="Models/Channel#comment_count" %}{% include example.html object='channel' method='comment_count' result='1' %}
{% include doc.html link="Models/Channel#video_count" %}{% include example.html object='channel' method='video_count' result='103' %}
{% include doc.html link="Models/Channel#subscriber_count" %}{% include example.html object='channel' method='subscriber_count' result='453' %}
{% include doc.html link="Models/Channel#subscriber_count_visible%3F" %}{% include example.html object='channel' method='subscriber_count_visible?' result='true' %}</pre>
  </div></dd>

  {% include dt.html title="Channel’s Privacy Status" label="success" auth="any authentication works" %}
  <dd><a class="anchor" id="privacy"></a><div class="highlight"><pre>
{% include doc.html link="Models/Resource#privacy_status" %}{% include example.html object='channel' method='privacy_status' result='"public"' %}
{% include doc.html link="Models/Resource#public%3F" %}{% include example.html object='channel' method='public?' result='true' %}
{% include doc.html link="Models/Resource#unlisted%3F" %}{% include example.html object='channel' method='unlisted?' result='false' %}
{% include doc.html link="Models/Resource#private%3F" %}{% include example.html object='channel' method='private?' result='false' %}</pre>
  </div></dd>

  {% include dt.html title="Channel’s Subscription" label="warning" auth="must authenticate as another channel’s account" %}
  <dd><a class="anchor" id="subscription"></a><div class="highlight"><pre>
{% include doc.html link="Models/Channel#subscribe" %}{% include example.html object='channel' method='subscribe' result='nil' %}
{% include doc.html link="Models/Channel#unsubscribe" %}{% include example.html object='channel' method='unsubscribe' result='true' %}
{% include doc.html link="Models/Channel#subscribed%3F" %}{% include example.html object='channel' method='subscribed?' result='false' %}</pre>
  </div></dd>

  {% include dt.html title="Channel’s Updates" label="warning" auth="must authenticate as the channel’s account or content owner" %}
  <dd><a class="anchor" id="updates"></a><div class="highlight"><pre>
{% include doc.html link="Models/Channel#delete_playlists" %}{% include example.html object='channel' method='delete_playlists' params=' <span class="ss">title</span><span class="p">:</span> <span class="sr">/2013$/</span>' result='[true, true]' %}</pre>
  </div></dd>

  {% include dt.html title="Channel’s Content Owner Details" label="danger" auth="must authenticate as the channel’s content owner" %}
  <dd><a class="anchor" id="content_owner"></a><div class="highlight"><pre>
{% include doc.html link="Models/Channel#content_owner" %}{% include example.html object='channel' method='content_owner' result='"Cy8DxxmTcwc7ci4zPWrKiw"' %}
{% include doc.html link="Models/Channel#linked_at" %}{% include example.html object='channel' method='linked_at' result='2011-03-01 23:32:00 UTC' %}</pre>
  </div></dd>

  {% include dt.html title="Channel’s Associations" label="success" auth="any authentication works" %}
  <dd><a class="anchor" id="associations"></a><div class="highlight"><pre>
{% include doc.html link="Models/Channel#videos" %}{% include example.html object='channel' method='videos' result='#&lt;Yt::Collections::Videos …&gt;' %}
{% include doc.html link="Models/Channel#playlists" %}{% include example.html object='channel' method='playlists' result='#&lt;Yt::Collections::Playlists …&gt;' %}
{% include doc.html link="Models/Channel#related_playlists" %}{% include example.html object='channel' method='related_playlists' result='#&lt;Yt::Collections::RelatedPlaylists …&gt;' %}
{% include doc.html link="Models/Channel#subscribed_channels" %}{% include example.html object='channel' method='subscribed_channels' result='#&lt;Yt::Collections::SubscribedChannels …&gt;' %}</pre>
  </div></dd>

  {% include dt.html title="Channel’s Monetization" label="danger" auth="must authenticate as the channel’s content owner" %}
  <dd><a class="anchor" id="monetization"></a><div class="highlight"><pre>
{% include doc.html link="Models/Channel#estimated_revenue" %}{% include example.html object='channel' method='estimated_revenue' result='{Fri, 14 Oct 2016 => 455.6, …}' %}
{% include doc.html link="Models/Channel#ad_impressions" %}{% include example.html object='channel' method='ad_impressions' result='{Fri, 14 Oct 2016 => 847, …}' %}
{% include doc.html link="Models/Channel#playback_based_cpm" %}{% include example.html object='channel' method='playback_based_cpm' result='{Wed, 8 May 2014 => 0.34, Thu, 9 May 2014 …}' %}
{% include doc.html link="Models/Channel#monetized_playbacks" %}{% include example.html object='channel' method='monetized_playbacks' result='{Wed, 8 May 2014 => 53345, …}' %}</pre>
  </div></dd>
</dl>
<hr />
<h4>List of <code>Yt::Channel</code> analytics methods</h4>
<a class="anchor" id="analytics"></a>
<p>
  By default, analytics methods return the total value for the lifetime of a channel (e.g., all the views of a channel).<br />
  To set specific starting and ending dates, use the <code>:since</code> and <code>:until</code> options.<br />
  To obtain one value per each day of the range you specify (rather than the total), use the <code>by: :day</code> option.<br />
  To limit the results to a specific location, use the <code>:in</code> option .
</p>
{% highlight ruby %}
channel.views # => {total: 949}

range = {since: 2.months.ago, until: 1.month.ago} # use a Date or String
channel.views range # => {total: 219}
channel.views range.merge(by: :day) # => {Wed, 8 May 2014 => 12, Thu, 9 May 2014 => …}

channel.views in: 'FR' # => {total: 45}
channel.views in: {country: 'US'} # => {total: 113}
channel.views in: {state: 'TX'} # => {total: 11}
# NOTE: Not all methods can be limited by US state; check the docs for details.
{% endhighlight %}
<p>
  For brevity, the options above are omitted in the examples below.
</p>

<dl>
  {% include dt.html title="Channel’s Analytics" label="warning" auth="must authenticate as the channel’s account or content owner" %}
  <dd>
<div class="highlight"><pre>
{% include doc.html link="Models/Channel#views" %}{% include example.html object='channel' method='views' result='{total: 345}' %}
{% include doc.html link="Models/Channel#comments" %}{% include example.html object='channel' method='comments' result='{total: 900}' %}
{% include doc.html link="Models/Channel#likes" %}{% include example.html object='channel' method='likes' result='{total: 934}' %}
{% include doc.html link="Models/Channel#dislikes" %}{% include example.html object='channel' method='dislikes' result='{total: 445}' %}
{% include doc.html link="Models/Channel#shares" %}{% include example.html object='channel' method='shares' result='{total: 913}' %}
{% include doc.html link="Models/Channel#subscribers_gained" %}{% include example.html object='channel' method='subscribers_gained' result='{total: 334}' %}
{% include doc.html link="Models/Channel#subscribers_lost" %}{% include example.html object='channel' method='subscribers_lost' result='{total: 345}' %}
{% include doc.html link="Models/Channel#videos_added_to_playlists" %}{% include example.html object='channel' method='videos_added_to_playlists' result='{total: 334}' %}
{% include doc.html link="Models/Channel#videos_removed_from_playlists" %}{% include example.html object='channel' method='videos_removed_from_playlists' result='{total: 987}' %}
{% include doc.html link="Models/Channel#average_view_duration" %}{% include example.html object='channel' method='average_view_duration' result='{total: 10}' %}
{% include doc.html link="Models/Channel#average_view_percentage" %}{% include example.html object='channel' method='average_view_percentage' result='{total: 34.3}' %}
{% include doc.html link="Models/Channel#annotation_clicks" %}{% include example.html object='channel' method='annotation_clicks' result='{total: 91}' %}
{% include doc.html link="Models/Channel#annotation_click_through_rate" %}{% include example.html object='channel' method='annotation_click_through_rate' result='{total: 2.98}' %}
{% include doc.html link="Models/Channel#annotation_close_rate" %}{% include example.html object='channel' method='annotation_close_rate' result='{total: 3.34}' %}
{% include doc.html link="Models/Channel#estimated_minutes_watched" %}{% include example.html object='channel' method='estimated_minutes_watched' result='{total: 12}' %}
{% include doc.html link="Models/Channel#card_impressions" %}{% include example.html object='channel' method='card_impressions' result='{total: 3}' %}
{% include doc.html link="Models/Channel#card_clicks" %}{% include example.html object='channel' method='card_clicks' result='{total: 3}' %}
{% include doc.html link="Models/Channel#card_click_rate" %}{% include example.html object='channel' method='card_click_rate' result='{total: 0.65}' %}
{% include doc.html link="Models/Channel#card_teaser_impressions" %}{% include example.html object='channel' method='card_teaser_impressions' result='{total: 3}' %}
{% include doc.html link="Models/Channel#card_teaser_clicks" %}{% include example.html object='channel' method='card_teaser_clicks' result='{total: 3}' %}
{% include doc.html link="Models/Channel#card_teaser_click_rate" %}{% include example.html object='channel' method='card_teaser_click_rate' result='{total: 0.65}' %}

{% include doc.html link="Models/Channel#views" %}{% include example.html object='channel' method='views' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:country</span>' result='{"US" =&gt; 33, "MX" => 12, …}' %}
{% include doc.html link="Models/Channel#comments" %}{% include example.html object='channel' method='comments' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:country</span>' result='{"US" =&gt; 17, "FR" =&gt; 12, …}' %}
{% include doc.html link="Models/Channel#likes" %}{% include example.html object='channel' method='likes' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:country</span>' result='{"US" =&gt; 32, "SG" => 3, …}' %}
{% include doc.html link="Models/Channel#dislikes" %}{% include example.html object='channel' method='dislikes' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:country</span>' result='{"US" =&gt; 87, "MT" =&gt;…}' %}
{% include doc.html link="Models/Channel#shares" %}{% include example.html object='channel' method='shares' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:country</span>' result='{"US" =&gt; 44, "GR" => 7, …}' %}
{% include doc.html link="Models/Channel#subscribers_gained" %}{% include example.html object='channel' method='subscribers_gained' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:country</span>' result='{"CO" =&gt; 32, …}' %}
{% include doc.html link="Models/Channel#subscribers_lost" %}{% include example.html object='channel' method='subscribers_lost' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:country</span>' result='{"BM" =&gt; 1, …}' %}
{% include doc.html link="Models/Channel#favorites_added" %}{% include example.html object='channel' method='favorites_added' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:country</span>' result='{"BG" =&gt; 181, …}' %}
{% include doc.html link="Models/Channel#favorites_removed" %}{% include example.html object='channel' method='favorites_removed' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:country</span>' result='{"PA" =&gt; 0, …}' %}
{% include doc.html link="Models/Channel#videos_added_to_playlists" %}{% include example.html object='channel' method='videos_added_to_playlists' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:country</span>' result='{"BG" =&gt; 181, …}' %}
{% include doc.html link="Models/Channel#videos_removed_from_playlists" %}{% include example.html object='channel' method='videos_removed_from_playlists' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:country</span>' result='{"PA" =&gt; 0, …}' %}
{% include doc.html link="Models/Channel#average_view_duration" %}{% include example.html object='channel' method='average_view_duration' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:country</span>' result='{"AW" =&gt; 456, …}' %}
{% include doc.html link="Models/Channel#average_view_percentage" %}{% include example.html object='channel' method='average_view_percentage' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:country</span>' result='{"PK" =&gt; 38.85, …}' %}
{% include doc.html link="Models/Channel#annotation_clicks" %}{% include example.html object='channel' method='annotation_clicks' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:country</span>' result='{"GT" =&gt; 329, …}' %}
{% include doc.html link="Models/Channel#annotation_click_through_rate" %}{% include example.html object='channel' method='annotation_click_through_rate' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:country</span>' result='{"US" =&gt; …}' %}
{% include doc.html link="Models/Channel#annotation_close_rate" %}{% include example.html object='channel' method='annotation_close_rate' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:country</span>' result='{"ZW" =&gt; 0.1, …}' %}
{% include doc.html link="Models/Channel#estimated_minutes_watched" %}{% include example.html object='channel' method='estimated_minutes_watched' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:country</span>' result='{"US" =&gt; 12, …}' %}

{% include doc.html link="Models/Channel#views" %}{% include example.html object='channel' method='views' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:state</span>' result='{"TX" =&gt; 42, "SD" => 33, …}' %}
{% include doc.html link="Models/Channel#average_view_duration" %}{% include example.html object='channel' method='average_view_duration' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:state</span>' result='{"CA" =&gt; 456, …}' %}
{% include doc.html link="Models/Channel#average_view_percentage" %}{% include example.html object='channel' method='average_view_percentage' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:state</span>' result='{"IL" =&gt; 38.85, …}' %}
{% include doc.html link="Models/Channel#annotation_clicks" %}{% include example.html object='channel' method='annotation_clicks' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:state</span>' result='{"TX" =&gt; 329, …}' %}
{% include doc.html link="Models/Channel#annotation_click_through_rate" %}{% include example.html object='channel' method='annotation_click_through_rate' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:state</span>' result='{"TX" =&gt; …}' %}
{% include doc.html link="Models/Channel#annotation_close_rate" %}{% include example.html object='channel' method='annotation_close_rate' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:state</span>' result='{"TX" =&gt; 0.1, …}' %}
{% include doc.html link="Models/Channel#estimated_minutes_watched" %}{% include example.html object='channel' method='estimated_minutes_watched' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:state</span>' result='{"TX" =&gt; 12, …}' %}

{% include doc.html link="Models/Channel#views" %}{% include example.html object='channel' method='views' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:video</span>' result='{#&lt;Yt::Video @id=…&gt; =&gt; 9, …}' %}
{% include doc.html link="Models/Channel#views" %}{% include example.html object='channel' method='views' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:playlist</span><span class="p">,</span> <span class="ss">includes</span><span class="p">: [</span><span class="ss">:status</span><span class="p">]</span>' result='{#&lt;Yt::Playlist&gt; =&gt; …}' %}
{% include doc.html link="Models/Channel#views" %}{% include example.html object='channel' method='views' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:traffic_source</span>' result='{advertising: 53, channel: 7, …}' %}
{% include doc.html link="Models/Channel#views" %}{% include example.html object='channel' method='views' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:playback_location</span>' result='{watch: 467, embedded: 53, …}' %}
{% include doc.html link="Models/Channel#views" %}{% include example.html object='channel' method='views' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:embedded_player_location</span>' result='{"fullscreen.net" =&gt; 9, …}' %}
{% include doc.html link="Models/Channel#views" %}{% include example.html object='channel' method='views' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:device_type</span>' result='{mobile: 457, tv: 954, …}' %}
{% include doc.html link="Models/Channel#views" %}{% include example.html object='channel' method='views' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:subscribed_status</span>' result='{subscribed: 57, unsubscribed: 54}' %}
{% include doc.html link="Models/Channel#views" %}{% include example.html object='channel' method='views' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:related_video</span>' result='{#&lt;Yt::Video @id=…&gt; =&gt; 7, …}' %}
{% include doc.html link="Models/Channel#views" %}{% include example.html object='channel' method='views' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:search_term</span>' result='{"fullscreen" =&gt; 7, "music" =&gt; 3, …}' %}
{% include doc.html link="Models/Channel#views" %}{% include example.html object='channel' method='views' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:referrer</span>' result='{"Google Search" =&gt; 7, "ytimg.com" =&gt; 3, …}' %}

{% include doc.html link="Models/Channel#estimated_minutes_watched" %}{% include example.html object='channel' method='estimated_minutes_watched' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:video</span>' result='{#&lt;Yt::Video&gt; =&gt; 9, …}' %}
{% include doc.html link="Models/Channel#estimated_minutes_watched" %}{% include example.html object='channel' method='estimated_minutes_watched' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:playlist</span>' result='{#&lt;Yt::Playlist&gt; =&gt; …}' %}
{% include doc.html link="Models/Channel#estimated_minutes_watched" %}{% include example.html object='channel' method='estimated_minutes_watched' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:traffic_source</span>' result='{channel: 7, …}' %}
{% include doc.html link="Models/Channel#estimated_minutes_watched" %}{% include example.html object='channel' method='estimated_minutes_watched' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:playback_location</span>' result='{watch: 1, …}' %}
{% include doc.html link="Models/Channel#estimated_minutes_watched" %}{% include example.html object='channel' method='estimated_minutes_watched' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:embedded_player_location</span>' result='{…}' %}
{% include doc.html link="Models/Channel#estimated_minutes_watched" %}{% include example.html object='channel' method='estimated_minutes_watched' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:device_type</span>' result='{tv: 954, …}' %}
{% include doc.html link="Models/Channel#estimated_minutes_watched" %}{% include example.html object='channel' method='estimated_minutes_watched' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:related_video</span>' result='{#&lt;Yt::Video&gt; =&gt; …}' %}
{% include doc.html link="Models/Channel#estimated_minutes_watched" %}{% include example.html object='channel' method='estimated_minutes_watched' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:search_term</span>' result='{"music" =&gt; 7, …}' %}
{% include doc.html link="Models/Channel#estimated_minutes_watched" %}{% include example.html object='channel' method='estimated_minutes_watched' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:referrer</span>' result='{"Facebook" =&gt; 7, …}' %}

{% include doc.html link="Models/Channel#viewer_percentage" %}{% include example.html object='channel' method='viewer_percentage' result="{female: {'18-24' =&gt; 4.12, '25-34' =&gt; …}, …}" %}
{% include doc.html link="Models/Channel#viewer_percentage" %}{% include example.html object='channel' method='viewer_percentage' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:gender</span>' result="{female: 12.3, male: 87.7}" %}
{% include doc.html link="Models/Channel#viewer_percentage" %}{% include example.html object='channel' method='viewer_percentage' params=' <span class="ss">by</span><span class="p">:</span> <span class="ss">:age_group</span>' result="{'18-24' =&gt; 4.1, '25-34' =&gt; …}" %}

{% include doc.html link="Models/Channel#reports" %}{% include example.html object='channel' method='reports' params=' <span class="ss">only</span><span class="p">: [</span><span class="ss">:views</span><span class="p">, </span><span class="ss">:shares</span><span class="p">]</span>' result="{views: {…}, shares: {…}}" %}</pre>
  </div></dd>
</dl>
