---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/yt-analytics.readonly https://www.googleapis.com/auth/youtubepartner https://www.googleapis.com/auth/yt-analytics-monetary.readonly https://www.googleapis.com/auth/userinfo.email openid",
          "token_type": "Bearer",
          "id_token": "<YT_TEST_ID_TOKEN>"
        }
  recorded_at: Thu, 06 Feb 2020 07:13:56 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos/getRating?id=9bZkp7q19f0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/N9yVPvs_cF1TcwKc6amCEAMF_gQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoGetRatingResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/N9yVPvs_cF1TcwKc6amCEAMF_gQ\"",
         "items": [
          {
           "videoId": "9bZkp7q19f0",
           "rating": "none"
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 07:13:56 GMT
- request:
    method: post
    uri: https://www.googleapis.com/youtube/v3/videos/rate?id=9bZkp7q19f0&rating=none
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/CataIi45CPlm8VOHHIt2M8vnqmo"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 06 Feb 2020 07:13:56 GMT
- request:
    method: post
    uri: https://www.googleapis.com/youtube/v3/videos/rate?id=9bZkp7q19f0&rating=like
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/CataIi45CPlm8VOHHIt2M8vnqmo"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 06 Feb 2020 07:13:56 GMT
recorded_with: VCR 5.1.0
