---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/yt-analytics.readonly https://www.googleapis.com/auth/yt-analytics-monetary.readonly openid https://www.googleapis.com/auth/youtubepartner",
          "token_type": "Bearer",
          "id_token": "<YT_TEST_ID_TOKEN>"
        }
  recorded_at: Thu, 06 Feb 2020 07:13:52 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=PqzGI8gO_gk&maxResults=50&part=liveStreamingDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/AAwwMQAnapQTCFcSjoicT0OPdTM"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/AAwwMQAnapQTCFcSjoicT0OPdTM\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/_FkNwz7Sg8dTIC6s4XaDivFJc_o\"",
           "id": "PqzGI8gO_gk",
           "liveStreamingDetails": {
            "scheduledStartTime": "2017-12-23T01:00:00.000Z"
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 07:13:52 GMT
recorded_with: VCR 5.1.0
