---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?id=UgzzJVW75s5KrSaf0Ah4AaABAg&key=<YT_TEST_API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/nuhx77Am3MNfAkxlsXyHJwr5Kis"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#commentThreadListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/nuhx77Am3MNfAkxlsXyHJwr5Kis\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 20
         },
         "items": [
          {
           "kind": "youtube#commentThread",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/Na5gPt1vDKx3VFey4gKoOJRFdJ0\"",
           "id": "UgzzJVW75s5KrSaf0Ah4AaABAg",
           "snippet": {
            "topLevelComment": {
             "kind": "youtube#comment",
             "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/8sr_ndh7MZVBXItGY8EgWZCPus4\"",
             "id": "UgzzJVW75s5KrSaf0Ah4AaABAg",
             "snippet": {
              "authorDisplayName": "Nammien Hoangngocnam",
              "authorProfileImageUrl": "https://yt3.ggpht.com/a/AGF-l7_avMdsVPaW8qQV_SVLfWRVNpavYrFRvKApvA=s48-c-k-c0xffffffff-no-rj-mo",
              "authorChannelUrl": "http://www.youtube.com/channel/UCviCMiA7jUhPDjrn1JWK2SQ",
              "authorChannelId": {
               "value": "UCviCMiA7jUhPDjrn1JWK2SQ"
              },
              "textDisplay": "Tailen",
              "textOriginal": "Tailen",
              "canRate": true,
              "viewerRating": "none",
              "likeCount": 0,
              "publishedAt": "2019-01-03T23:01:45.000Z",
              "updatedAt": "2019-01-03T23:01:45.000Z"
             }
            },
            "canReply": true,
            "totalReplyCount": 0,
            "isPublic": true
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 02:08:42 GMT
recorded_with: VCR 5.1.0
