---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/yt-analytics.readonly openid https://www.googleapis.com/auth/yt-analytics-monetary.readonly https://www.googleapis.com/auth/youtubepartner",
          "token_type": "Bearer",
          "id_token": "<YT_TEST_ID_TOKEN>"
        }
  recorded_at: Thu, 13 Feb 2020 15:56:24 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?maxResults=50&mine=true&part=snippet,status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/mrg060B-bk7cbX6J0Wn8FHEd6pc"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#channelListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/mrg060B-bk7cbX6J0Wn8FHEd6pc\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#channel",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/oIGb4qnyz6TSfmKE9O9vxBawm9M\"",
           "id": "UCAmh1DexLGcMtDlzMCIxo4w",
           "snippet": {
            "title": "Derek Barnes",
            "description": "",
            "publishedAt": "2018-08-28T00:13:02.000Z",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/a/AGF-l7_4Is2lyk1T7gOOszzreBuXkgAe50jM9SauZw=s88-c-k-c0xffffffff-no-rj-mo",
              "width": 88,
              "height": 88
             },
             "medium": {
              "url": "https://yt3.ggpht.com/a/AGF-l7_4Is2lyk1T7gOOszzreBuXkgAe50jM9SauZw=s240-c-k-c0xffffffff-no-rj-mo",
              "width": 240,
              "height": 240
             },
             "high": {
              "url": "https://yt3.ggpht.com/a/AGF-l7_4Is2lyk1T7gOOszzreBuXkgAe50jM9SauZw=s800-c-k-c0xffffffff-no-rj-mo",
              "width": 800,
              "height": 800
             }
            },
            "localized": {
             "title": "Derek Barnes",
             "description": ""
            },
            "country": "US"
           },
           "status": {
            "privacyStatus": "public",
            "isLinked": true,
            "longUploadsStatus": "eligible"
           }
          }
         ]
        }
  recorded_at: Thu, 13 Feb 2020 15:56:25 GMT
- request:
    method: post
    uri: https://www.googleapis.com/youtube/v3/playlists?part=snippet,status
    body:
      encoding: UTF-8
      string: '{"snippet":{"title":"Test Yt playlist"},"status":{"privacyStatus":"unlisted"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlist",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/cTRmZMAtF_QOC6gAILqcGBTJzgQ\"",
         "id": "PLbj-IDe6g8vuUnMnhVFFC0FcIsNkOeRcq",
         "snippet": {
          "publishedAt": "2020-02-13T15:56:25.000Z",
          "channelId": "UCAmh1DexLGcMtDlzMCIxo4w",
          "title": "Test Yt playlist",
          "description": "",
          "thumbnails": {
           "default": {
            "url": "http://s.ytimg.com/yts/img/no_thumbnail-vfl4t3-4R.jpg",
            "width": 120,
            "height": 90
           },
           "medium": {
            "url": "http://s.ytimg.com/yts/img/no_thumbnail-vfl4t3-4R.jpg",
            "width": 320,
            "height": 180
           },
           "high": {
            "url": "http://s.ytimg.com/yts/img/no_thumbnail-vfl4t3-4R.jpg",
            "width": 480,
            "height": 360
           }
          },
          "channelTitle": "Derek Barnes",
          "localized": {
           "title": "Test Yt playlist",
           "description": ""
          }
         },
         "status": {
          "privacyStatus": "unlisted"
         }
        }
  recorded_at: Thu, 13 Feb 2020 15:56:25 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PLbj-IDe6g8vuUnMnhVFFC0FcIsNkOeRcq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/CataIi45CPlm8VOHHIt2M8vnqmo"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 13 Feb 2020 15:56:26 GMT
recorded_with: VCR 5.1.0
