---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&code=k3nqtqvdfc2wv73l475r&redirect_uri=http%3A%2F%2Flocalhost%2F&grant_type=authorization_code
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "error": "invalid_grant",
          "error_description": "Malformed auth code."
        }
  recorded_at: Sun, 13 Nov 2022 00:40:19 GMT
recorded_with: VCR 6.1.0
