---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&code=nfud7nh7znl7r8lv1kww&redirect_uri=http%3A%2F%2Flocalhost%2F&grant_type=authorization_code
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "error": "invalid_grant",
          "error_description": "Malformed auth code."
        }
  recorded_at: Thu, 06 Feb 2020 07:01:28 GMT
recorded_with: VCR 5.1.0
