---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=gknzFj_0vvY&key=<YT_TEST_API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/ldxfK0nyf0IjgjOgm-cNe1ah354"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/ldxfK0nyf0IjgjOgm-cNe1ah354\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/GTorQvQrO8YZepr-QxIVAmlJE8g\"",
           "id": "gknzFj_0vvY",
           "snippet": {
            "publishedAt": "2016-10-20T02:19:05.000Z",
            "channelId": "UCwCnUcLcb9-eSrHa_RQGkQQ",
            "title": "First public video",
            "description": "A YouTube video to test the yt gem.",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/gknzFj_0vvY/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/gknzFj_0vvY/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/gknzFj_0vvY/hqdefault.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "Yt Test",
            "tags": [
             "yt",
             "test",
             "tag"
            ],
            "categoryId": "22",
            "liveBroadcastContent": "none",
            "localized": {
             "title": "First public video",
             "description": "A YouTube video to test the yt gem."
            }
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 02:11:07 GMT
recorded_with: VCR 5.1.0
