---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/yt-analytics.readonly https://www.googleapis.com/auth/yt-analytics-monetary.readonly openid https://www.googleapis.com/auth/youtubepartner https://www.googleapis.com/auth/userinfo.email",
          "token_type": "Bearer",
          "id_token": "<YT_TEST_ID_TOKEN>"
        }
  recorded_at: Wed, 12 Feb 2020 18:40:22 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PLbj-IDe6g8vtax1SakLEwOdOEv-nvjiy0&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/Dviw7mP28osJOzKpEgQ3HoTi4F0"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlistListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/Dviw7mP28osJOzKpEgQ3HoTi4F0\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#playlist",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/ypQyqgVT_MOLJn29qej5skadqrE\"",
           "id": "PLbj-IDe6g8vtax1SakLEwOdOEv-nvjiy0",
           "snippet": {
            "publishedAt": "2020-02-12T17:12:14.000Z",
            "channelId": "UCAmh1DexLGcMtDlzMCIxo4w",
            "title": "Yt Test Playlist",
            "description": "Yt Example Description",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/9bZkp7q19f0/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/9bZkp7q19f0/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/9bZkp7q19f0/hqdefault.jpg",
              "width": 480,
              "height": 360
             },
             "standard": {
              "url": "https://i.ytimg.com/vi/9bZkp7q19f0/sddefault.jpg",
              "width": 640,
              "height": 480
             },
             "maxres": {
              "url": "https://i.ytimg.com/vi/9bZkp7q19f0/maxresdefault.jpg",
              "width": 1280,
              "height": 720
             }
            },
            "channelTitle": "Derek Barnes",
            "tags": [
             "Yt Test Tag"
            ],
            "localized": {
             "title": "Yt Test Playlist",
             "description": "Yt Example Description"
            }
           }
          }
         ]
        }
  recorded_at: Wed, 12 Feb 2020 18:40:23 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PLbj-IDe6g8vtax1SakLEwOdOEv-nvjiy0&part=status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/hylG-NJWcL37xD9JmTPOcjzojME"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlistListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/hylG-NJWcL37xD9JmTPOcjzojME\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#playlist",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/kvwbpkxSGC2HAGG_-sp35S-Xs4M\"",
           "id": "PLbj-IDe6g8vtax1SakLEwOdOEv-nvjiy0",
           "status": {
            "privacyStatus": "unlisted"
           }
          }
         ]
        }
  recorded_at: Wed, 12 Feb 2020 18:40:23 GMT
- request:
    method: post
    uri: https://www.googleapis.com/youtube/v3/playlistItems?part=snippet
    body:
      encoding: UTF-8
      string: '{"snippet":{"playlistId":"PLbj-IDe6g8vtax1SakLEwOdOEv-nvjiy0","resourceId":{"kind":"youtube#video","videoId":"9bZkp7q19f0"},"position":0}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlistItem",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/UWcN-V4kzXj-uwJUzexSiqx729o\"",
         "id": "UExiai1JRGU2Zzh2dGF4MVNha0xFd09kT0V2LW52aml5MC4yODlGNEE0NkRGMEE[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?id=UExiai1JRGU2Zzh2dGF4MVNha0xFd09kT0V2LW52aml5MC4yODlGNEE0NkRGMEEzMEQy&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/-VH3R7MsaqFsaU8S5ZLsC29TL2k"'
      Content-Type:
      - application/json; charset=UTF-8
   [...]
