---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/yt-analytics-monetary.readonly https://www.googleapis.com/auth/youtubepartner openid https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/yt-analytics.readonly",
          "token_type": "Bearer",
          "id_token": "<YT_TEST_ID_TOKEN>"
        }
  recorded_at: Mon, 10 Feb 2020 19:56:57 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=not-a-playlist-id&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/4jFABS89-8HchBKyXbKuwa4ZsU8"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlistListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/4jFABS89-8HchBKyXbKuwa4ZsU8\"",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 5
         },
         "items": []
        }
  recorded_at: Mon, 10 Feb 2020 19:56:57 GMT
recorded_with: VCR 5.1.0
