---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/youtubepartner openid https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/yt-analytics.readonly https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
          "token_type": "Bearer",
          "id_token": "<YT_TEST_ID_TOKEN>"
        }
  recorded_at: Wed, 12 Feb 2020 20:34:17 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?id=UExiai1JRGU2Zzh2dGF4MVNha0xFd09kT0V2LW52aml5MC41NkI0NEY2RDEwNTU3Q0M2&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/InpL9SV9SCf2HIqkN7E-Q_lj9UU"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlistItemListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/InpL9SV9SCf2HIqkN7E-Q_lj9UU\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#playlistItem",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/7AIK9E_zT5fkN0JlHqo_71SNGOc\"",
           "id": "UExiai1JRGU2Zzh2dGF4MVNha0xFd09kT0V2LW52aml5MC41NkI0NEY2RDEwNTU3Q0M2",
           "snippet": {
            "publishedAt": "2020-02-12T19:06:31.000Z",
            "channelId": "UCAmh1DexLGcMtDlzMCIxo4w",
            "title": "PSY - GANGNAM STYLE(강남스타일) M/V",
            "description": "PSY - ‘I LUV IT’ M/V @ https://youtu.be/Xvjnoagk6GU\nPSY - ‘New Face’ M/V @https://youtu.be/OwJPPaEyqhI\n\nPSY - 8TH ALBUM '4X2=8' on iTunes @\nhttps://smarturl.it/PSY_8thAlbum\n\nPSY - GANGNAM STYLE(강남스타일) on iTunes @ http://smarturl.it/PsyGangnam\n\n#PSY #싸이 #GANGNAMSTYLE #강남스타일\n\nMore about PSY@\nhttp://www.youtube.com/officialpsy\nhttp://www.facebook.com/officialpsy\nhttp://twitter.com/psy_oppa\nhttps://www.instagram.com/42psy42\nhttp://iTunes.com/PSY\nhttp://sptfy.com/PSY\nhttp://weibo.com/psyoppa",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/9bZkp7q19f0/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/9bZkp7q19f0/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/9bZkp7q19f0/hqdefault.jpg",
              "width": 480,
              "height": 360
             },
             "standard": {
              "url": "https://i.ytimg.com/vi/9bZkp7q19f0/sddefault.jpg",
              "width": 640,
              "height": 480
             },
             "maxres": {
              "url": "https://i.ytimg.com/vi/9bZkp7q19f0/maxresdefault.jpg",
              "width": 1280,
              "height": 720
             }
            },
            "channelTitle": "Derek Barnes",
            "playlistId": "PLbj-IDe6g8vtax1SakLEwOdOEv-nvjiy0",
            "position": 0,
            "resourceId": {
             "kind": "youtube#video",
             "videoId": "9bZkp7q19f0"
            }
           }
          }
         ]
        }
  recorded_at: Wed, 12 Feb 2020 20:34:17 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?id=UExiai1JRGU2Zzh2dGF4MVNha0xFd09kT0V2LW52aml5MC41NkI0NEY2RDEwNTU3Q0M2&part=status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/X3sEAxx5JbJza4aE_AK5FheAyws"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlistItemListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/X3sEAxx5JbJza4aE_AK5FheAyws\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#playlistItem",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/uhZklQxw54f15vjrxVnDJ7Z_z7I\"",
           "id": "UExiai1JRGU2Zzh2dGF4MVNha0xFd09kT0V2LW52aml5MC41NkI0NEY2RDEwNTU3Q0M2",
           "status": {
            "privacyStatus": "public"
           }
          }
         ]
        }
  recorded_at: Wed, 12 Feb 2020 20:34:17 GMT
recorded_with: VCR 5.1.0
