---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/youtube https://www.googleapis.com/auth/youtube.upload https://www.googleapis.com/auth/youtube.readonly",
          "token_type": "Bearer"
        }
  recorded_at: Sun, 13 Nov 2022 04:37:53 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=9bZkp7q19f0&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "4mJqrCoc5N7djZTw6DGGZ9kIpEQ",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "bZIKv_Qghlv-QNl7mgKsFfEdqXM",
              "id": "9bZkp7q19f0",
              "snippet": {
                "publishedAt": "2012-07-15T07:46:32Z",
                "channelId": "UCrDkAvwZum-UTjHmzDI2iIw",
                "title": "PSY - GANGNAM STYLE(강남스타일) M/V",
                "description": "PSY - ‘I LUV IT’ M/V @ https://youtu.be/Xvjnoagk6GU\nPSY - ‘New Face’ M/V @https://youtu.be/OwJPPaEyqhI\n\nPSY - 8TH ALBUM '4X2=8' on iTunes @\nhttps://smarturl.it/PSY_8thAlbum\n\nPSY - GANGNAM STYLE(강남스타일) on iTunes @ http://smarturl.it/PsyGangnam\n\n#PSY #싸이 #GANGNAMSTYLE #강남스타일\n\nMore about PSY@\nhttp://www.youtube.com/officialpsy\nhttp://www.facebook.com/officialpsy\nhttp://twitter.com/psy_oppa\nhttps://www.instagram.com/42psy42\nhttp://iTunes.com/PSY\nhttp://sptfy.com/PSY\nhttp://weibo.com/psyoppa",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/9bZkp7q19f0/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/9bZkp7q19f0/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/9bZkp7q19f0/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  },
                  "standard": {
                    "url": "https://i.ytimg.com/vi/9bZkp7q19f0/sddefault.jpg",
                    "width": 640,
                    "height": 480
                  },
                  "maxres": {
                    "url": "https://i.ytimg.com/vi/9bZkp7q19f0/maxresdefault.jpg",
                    "width": 1280,
                    "height": 720
                  }
                },
                "channelTitle": "officialpsy",
                "tags": [
                  "PSY",
                  "싸이",
                  "강남스타일",
                  "뮤직비디오",
                  "Music Video",
                  "Gangnam Style",
                  "KOREAN SINGER",
                  "KPOP",
                  "KOERAN WAVE",
                  "PSY 6甲",
                  "6th Studio Album",
                  "싸이6집",
                  "육갑"
                ],
                "categoryId": "10",
                "liveBroadcastContent": "none",
                "localized": {
                  "title": "PSY - GANGNAM STYLE(강남스타일) M/V",
                  "description": "PSY - ‘I LUV IT’ M/V @ https://youtu.be/Xvjnoagk6GU\nPSY - ‘New Face’ M/V @https://youtu.be/OwJPPaEyqhI\n\nPSY - 8TH ALBUM '4X2=8' on iTunes @\nhttps://smarturl.it/PSY_8thAlbum\n\nPSY - GANGNAM STYLE(강남스타일) on iTunes @ http://smarturl.it/PsyGangnam\n\n#PSY #싸이 #GANGNAMSTYLE #강남스타일\n\nMore about PSY@\nhttp://www.youtube.com/officialpsy\nhttp://www.facebook.com/officialpsy\nhttp://twitter.com/psy_oppa\nhttps://www.instagram.com/42psy42\nhttp://iTunes.com/PSY\nhttp://sptfy.com/PSY\nhttp://weibo.com/psyoppa"
                }
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Sun, 13 Nov 2022 04:37:53 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=9bZkp7q19f0&part=status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "9P8ReszrYea14UfoZo5R1VPbt0M",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "7XLCncO6DICVbr7L1-T_TDYSJ-8",
              "id": "9bZkp7q19f0",
              "status": {
                "uploadStatus": "processed",
                "privacyStatus": "public",
                "license": "youtube",
                "embeddable": true,
                "publicStatsViewable": true,
                "madeForKids": false
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Sun, 13 Nov 2022 04:37:53 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=9bZkp7q19f0&maxResults=50&part=statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "AKh9pO1qZrWM7CwUd5sx__oAre4",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "JzKwxG-f_uRL1B_35jUUjOLfHrs",
              "id": "9bZkp7q19f0",
              "statistics": {
                "viewCount": "4593205811",
                "likeCount": "25918022",
                "favoriteCount": "0",
                "commentCount": "5331502"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Sun, 13 Nov 2022 04:37:53 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=9bZkp7q19f0&maxResults=50&part=contentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "3Ct25x_mhiHSItMMe9hfwUM-wCc",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "7x2X6TjFpAo3JKSu4eMxDHshkX0",
              "id": "9bZkp7q19f0",
              "contentDetails": {
                "duration": "PT4M13S",
                "dimension": "2d",
                "definition": "hd",
                "caption": "false",
                "licensedContent": false,
                "contentRating": {},
                "projection": "rectangular"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Sun, 13 Nov 2022 04:37:53 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=9bZkp7q19f0&maxResults=50&part=liveStreamingDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "k6v9I1hiZyMyeRaaUneqAnQPPRA",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "Fz6_JU_cmbddxhN5VrDZ9KAWY4o",
              "id": "9bZkp7q19f0"
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Sun, 13 Nov 2022 04:37:53 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=9bZkp7q19f0&maxResults=50&part=player
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "dq8iSiHADmUmlaGvyQ4peQHY2xE",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "oEIKfYC6WHCquHudSmZIJG1bE2g",
              "id": "9bZkp7q19f0",
              "player": {
                "embedHtml": "\u003ciframe width=\"480\" height=\"270\" src=\"//www.youtube.com/embed/9bZkp7q19f0\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen\u003e\u003c/iframe\u003e"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Sun, 13 Nov 2022 04:37:54 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videoCategories?id=10&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoCategoryListResponse",
          "etag": "O-drzhFRYmr-3IcAVQibxHww5k8",
          "items": [
            {
              "kind": "youtube#videoCategory",
              "etag": "qnpwjh5QlWM5hrnZCvHisquztC4",
              "id": "10",
              "snippet": {
                "title": "Music",
                "assignable": true,
                "channelId": "UCBR8-60-B28hp2BmDPdntcQ"
              }
            }
          ]
        }
  recorded_at: Sun, 13 Nov 2022 04:37:54 GMT
recorded_with: VCR 6.1.0
