---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/yt-analytics-monetary.readonly openid https://www.googleapis.com/auth/yt-analytics.readonly https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/youtubepartner",
          "token_type": "Bearer",
          "id_token": "<YT_TEST_ID_TOKEN>"
        }
  recorded_at: Thu, 06 Feb 2020 07:13:53 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=9bZkp7q19f0&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/SAmfq9NOgMl7zxJAmNkcclHt_B0"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/SAmfq9NOgMl7zxJAmNkcclHt_B0\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/-IuTyy08Sv4vz9ogomNHNHJ8ddg\"",
           "id": "9bZkp7q19f0",
           "snippet": {
            "publishedAt": "2012-07-15T07:46:32.000Z",
            "channelId": "UCrDkAvwZum-UTjHmzDI2iIw",
            "title": "PSY - GANGNAM STYLE(강남스타일) M/V",
            "description": "PSY - ‘I LUV IT’ M/V @ https://youtu.be/Xvjnoagk6GU\nPSY - ‘New Face’ M/V @https://youtu.be/OwJPPaEyqhI\n\nPSY - 8TH ALBUM '4X2=8' on iTunes @\nhttps://smarturl.it/PSY_8thAlbum\n\nPSY - GANGNAM STYLE(강남스타일) on iTunes @ http://smarturl.it/PsyGangnam\n\n#PSY #싸이 #GANGNAMSTYLE #강남스타일\n\nMore about PSY@\nhttp://www.youtube.com/officialpsy\nhttp://www.facebook.com/officialpsy\nhttp://twitter.com/psy_oppa\nhttps://www.instagram.com/42psy42\nhttp://iTunes.com/PSY\nhttp://sptfy.com/PSY\nhttp://weibo.com/psyoppa",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/9bZkp7q19f0/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/9bZkp7q19f0/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/9bZkp7q19f0/hqdefault.jpg",
              "width": 480,
              "height": 360
             },
             "standard": {
              "url": "https://i.ytimg.com/vi/9bZkp7q19f0/sddefault.jpg",
              "width": 640,
              "height": 480
             },
             "maxres": {
              "url": "https://i.ytimg.com/vi/9bZkp7q19f0/maxresdefault.jpg",
              "width": 1280,
              "height": 720
             }
            },
            "channelTitle": "officialpsy",
            "tags": [
             "PSY",
             "싸이",
             "강남스타일",
             "뮤직비디오",
             "Music Video",
             "Gangnam Style",
             "KOREAN SINGER",
             "KPOP",
             "KOERAN WAVE",
             "PSY 6甲",
             "6th Studio Album",
             "싸이6집",
             "육갑"
            ],
            "categoryId": "10",
            "liveBroadcastContent": "none",
            "localized": {
             "title": "PSY - GANGNAM STYLE(강남스타일) M/V",
             "description": "PSY - ‘I LUV IT’ M/V @ https://youtu.be/Xvjnoagk6GU\nPSY - ‘New Face’ M/V @https://youtu.be/OwJPPaEyqhI\n\nPSY - 8TH ALBUM '4X2=8' on iTunes @\nhttps://smarturl.it/PSY_8thAlbum\n\nPSY - GANGNAM STYLE(강남스타일) on iTunes @ http://smarturl.it/PsyGangnam\n\n#PSY #싸이 #GANGNAMSTYLE #강남스타일\n\nMore about PSY@\nhttp://www.youtube.com/officialpsy\nhttp://www.facebook.com/officialpsy\nhttp://twitter.com/psy_oppa\nhttps://www.instagram.com/42psy42\nhttp://iTunes.com/PSY\nhttp://sptfy.com/PSY\nhttp://weibo.com/psyoppa"
            }
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 07:13:54 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=9bZkp7q19f0&part=status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/RsmBO1zXemPxuc2Qo23353kRTp4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/RsmBO1zXemPxuc2Qo23353kRTp4\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/efqboWs9guTQJOcy_xMkW5e4IsA\"",
           "id": "9bZkp7q19f0",
           "status": {
            "uploadStatus": "processed",
            "privacyStatus": "public",
            "license": "youtube",
            "embeddable": true,
            "publicStatsViewable": true,
            "madeForKids": false
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 07:13:54 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=9bZkp7q19f0&maxResults=50&part=statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/SbDAm5DZmZP2JIdVcfCFg2CaQ4s"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/SbDAm5DZmZP2JIdVcfCFg2CaQ4s\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/hASuuHgwlVnzPEKUIOb1CsajYtw\"",
           "id": "9bZkp7q19f0",
           "statistics": {
            "viewCount": "3507700238",
            "likeCount": "17079399",
            "dislikeCount": "2311109",
            "favoriteCount": "0",
            "commentCount": "4998288"
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 07:13:54 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=9bZkp7q19f0&maxResults=50&part=contentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/zS7vLp9lDZemUmit6WIu4F2Tl7M"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/zS7vLp9lDZemUmit6WIu4F2Tl7M\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/qVTM1qHHSIbzfR5nMOwI3j5BNxs\"",
           "id": "9bZkp7q19f0",
           "contentDetails": {
            "duration": "PT4M13S",
            "dimension": "2d",
            "definition": "hd",
            "caption": "true",
            "licensedContent": false,
            "projection": "rectangular"
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 07:13:54 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=9bZkp7q19f0&maxResults=50&part=liveStreamingDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/kQa2wTrx3S-5Err3wOCdBaBX82c"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/kQa2wTrx3S-5Err3wOCdBaBX82c\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/OLkyQ_gP22mTC2IHzCAzu_UwcLY\"",
           "id": "9bZkp7q19f0"
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 07:13:54 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=9bZkp7q19f0&maxResults=50&part=player
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/EzxHS8NVqbj55FJHbprV_ozjvDs"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/EzxHS8NVqbj55FJHbprV_ozjvDs\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/rd1N_c95Igcf-EgTt4g04J_nUbw\"",
           "id": "9bZkp7q19f0",
           "player": {
            "embedHtml": "\u003ciframe width=\"480\" height=\"270\" src=\"//www.youtube.com/embed/9bZkp7q19f0\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen\u003e\u003c/iframe\u003e"
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 07:13:55 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videoCategories?id=10&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/u76cF9NebMnyucDhBOv-V8CaZl4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoCategoryListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/u76cF9NebMnyucDhBOv-V8CaZl4\"",
         "items": [
          {
           "kind": "youtube#videoCategory",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/nqRIq97-xe5XRZTxbknKFVe5Lmg\"",
           "id": "10",
           "snippet": {
            "channelId": "UCBR8-60-B28hp2BmDPdntcQ",
            "title": "Music",
            "assignable": true
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 07:13:55 GMT
recorded_with: VCR 5.1.0
