---
http_interactions:
- request:
    method: get
    uri: https://www.youtube.com/annotations_invideo?video_id=9bZkp7q19f0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8" ?><document><annotations itct="CAAQwOYBIhMIkv2XirS85wIVZUFMCB1g7w81KPgdMgJpdkj969fV-5SZ2_UB">
        <annotation id="channel:cd9ab9ee-3775-2f42-915b-20cf303bff42" style="branding" type="branding">
          <data>{&quot;image_height&quot;:40,&quot;use_standalone_subscribe_button&quot;:true,&quot;end_ms&quot;:15000,&quot;start_ms&quot;:0,&quot;image_width&quot;:40,&quot;channel_id&quot;:&quot;UCrDkAvwZum-UTjHmzDI2iIw&quot;,&quot;image_url&quot;:&quot;https:\/\/yt3.ggpht.com\/a\/AGF-l7-rWWHpn0pFrCRmVL0XFpk7QIVjfzfXAEshDQ=s300-c-k-c0xffffffff-no-rj-mo&quot;,&quot;session_data&quot;:{&quot;itct&quot;:&quot;CAEQ8zcY____________ASITCJL9l4q0vOcCFWVBTAgdYO8PNSj4HTICaXZI_evX1fuUmdv1AQ&quot;,&quot;annotation_id&qu[...]
