---
http_interactions:
- request:
    method: get
    uri: https://www.youtube.com/annotations_invideo?video_id=9bZkp7q19f0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8" ?><document><annotations itct="CAAQwOYBIhMIkIiOirS85wIVWpPECh0Bow0EKPgdMgJpdkj969fV-5SZ2_UB">
        <annotation id="channel:cd9ab9ee-3775-2f42-915b-20cf303bff42" style="branding" type="branding">
          <data>{&quot;channel_name&quot;:&quot;officialpsy&quot;,&quot;channel_id&quot;:&quot;UCrDkAvwZum-UTjHmzDI2iIw&quot;,&quot;image_width&quot;:40,&quot;subscription_token&quot;:[&quot;&quot;,&quot;&quot;],&quot;end_ms&quot;:15000,&quot;standalone_subscribe_button_data&quot;:{&quot;subscribeText&quot;:&quot;Subscribe&quot;,&quot;signinUrl&quot;:&quot;https:\/\/accounts.google.com\/ServiceLogin?passive=true\u0026continue=https%3A%2F%2Fwww.youtube.com%2Fsignin%3Fhl%3Den%26next%3Dhttps%253A%252F%252Fwww.yout[...]
