---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UC-not-a-channel-id&key=<YT_TEST_API_KEY>&maxResults=50&order=date&part=snippet&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/bEp8TJtXaQPPaCi1eBoGyYvAK5k"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/bEp8TJtXaQPPaCi1eBoGyYvAK5k\"",
         "regionCode": "US",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 50
         },
         "items": []
        }
  recorded_at: Thu, 06 Feb 2020 02:07:54 GMT
recorded_with: VCR 5.1.0
