---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/yt-analytics.readonly https://www.googleapis.com/auth/youtubepartner https://www.googleapis.com/auth/yt-analytics-monetary.readonly https://www.googleapis.com/auth/userinfo.email openid",
          "token_type": "Bearer",
          "id_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6ImQ4ZWZlYTFmNjZlODdiYjM2YzJlYTA5ZDgzNzMzOGJkZDgxMDM1M2IiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJhY2NvdW50cy5nb29nbGUuY29tIiwiYXpwIjoiNTkxMjM2NTA0ODQ2LTlsbGZjajJwNDcwZGlmcW5kaHNxZzJ1MWZ0ajRqNzM2LmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tIiwiYXVkIjoiNTkxMjM2NTA0ODQ2LTlsbGZjajJwNDcwZGlmcW5kaHNxZzJ1MWZ0ajRqNzM2LmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tIiwic3ViIjoiMTAzMDc3NzAwNDU1OTkyNzEzMjQzIiwiaGQiOiJmdWxsc2NyZWVuLmNvbSIsImVtYWlsIjoiZGVyZWsuYmFybmVzQGZ1bGxzY3JlZW4uY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImF0X2hhc2giOiI0eDI3NkpoMXF1SE5ubWdLdy1XeWdRIiwiaWF0IjoxNTgwOTcyNzMxLCJleHAiOjE1ODA5NzYzMzF9.h5nQhV-scv4IOpF2b88-rELWRM4NwripQJNkJlYhci__x9o9xVI1POCDv1WAf_0AqmPW8r85WH-fAvXc2MHuwGmf8HUjF2xWg9spWH99VJIBhDG1bIliD2ak5WzZJbYK2fErOBjoUcLKmBFc4n7ejJzoyGQz_6eor6-xPATP7AIK39fFivrkmfb-VzCpOZsyTGYex6Msejip7yUP6srXTgoM2ZXjW1oyEq_mI2Rm0WgIeRh923RMhMSp1jBdR_GXTaEHZ3CN9B0GVvP_Pas_DNRVXB56BjBt0t2qOcELRnnrE344Zir4qYhsAWb7-SyatxWLj8gW6AkI7Uls7DDSWA"
        }
  recorded_at: Thu, 06 Feb 2020 07:05:31 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCBR8-60-B28hp2BmDPdntcQ&part=contentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/o7Ih7_Hfi8u6zOVZpotdU8r6zA4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#channelListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/o7Ih7_Hfi8u6zOVZpotdU8r6zA4\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#channel",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/KY2NwPRG-j2mKXfLsusPhEb_NUk\"",
           "id": "UCBR8-60-B28hp2BmDPdntcQ",
           "contentDetails": {
            "relatedPlaylists": {
             "uploads": "UUBR8-60-B28hp2BmDPdntcQ",
             "watchHistory": "HL",
             "watchLater": "WL"
            }
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 07:05:31 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=UUBR8-60-B28hp2BmDPdntcQ,HL,WL&maxResults=50&part=snippet,status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/hXh9lEr_Kvcm44J1Uaz6eBFPd6c"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlistListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/hXh9lEr_Kvcm44J1Uaz6eBFPd6c\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 50
         },
         "items": [
          {
           "kind": "youtube#playlist",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/2QdGr0inadMfD9RQ6bSg0vl3vyE\"",
           "id": "UUBR8-60-B28hp2BmDPdntcQ",
           "snippet": {
            "publishedAt": "1970-01-01T00:00:00.000Z",
            "channelId": "UCBR8-60-B28hp2BmDPdntcQ",
            "title": "Uploads from YouTube",
            "description": "",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/2lAe1cqCOXo/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/2lAe1cqCOXo/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/2lAe1cqCOXo/hqdefault.jpg",
              "width": 480,
              "height": 360
             },
             "standard": {
              "url": "https://i.ytimg.com/vi/2lAe1cqCOXo/sddefault.jpg",
              "width": 640,
              "height": 480
             },
             "maxres": {
              "url": "https://i.ytimg.com/vi/2lAe1cqCOXo/maxresdefault.jpg",
              "width": 1280,
              "height": 720
             }
            },
            "channelTitle": "YouTube",
            "localized": {
             "title": "Uploads from YouTube",
             "description": ""
            }
           },
           "status": {
            "privacyStatus": "public"
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 07:05:31 GMT
recorded_with: VCR 5.1.0
