---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/youtube.readonly https://www.googleapis.com/auth/youtube https://www.googleapis.com/auth/youtube.upload",
          "token_type": "Bearer"
        }
  recorded_at: Sun, 13 Nov 2022 04:59:17 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCBR8-60-B28hp2BmDPdntcQ&part=contentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "FkVc2964Bz2gz698JINc2iLU5SU",
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#channel",
              "etag": "KtwKqtpT7ADmb2Z7f6Q67dPrVSU",
              "id": "UCBR8-60-B28hp2BmDPdntcQ",
              "contentDetails": {
                "relatedPlaylists": {
                  "likes": "",
                  "uploads": "UUBR8-60-B28hp2BmDPdntcQ"
                }
              }
            }
          ]
        }
  recorded_at: Sun, 13 Nov 2022 04:59:17 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=,UUBR8-60-B28hp2BmDPdntcQ&maxResults=50&part=snippet,status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#playlistListResponse",
          "etag": "1TkNS4c_vqmljlTdTFtPO3peuN8",
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 50
          },
          "items": [
            {
              "kind": "youtube#playlist",
              "etag": "CqnLuNI_HphZyMOh_m4cSLTziKs",
              "id": "UUBR8-60-B28hp2BmDPdntcQ",
              "snippet": {
                "publishedAt": "2020-02-23T08:00:00Z",
                "channelId": "UCBR8-60-B28hp2BmDPdntcQ",
                "title": "Uploads from YouTube",
                "description": "",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/Kuhe3koSvr8/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/Kuhe3koSvr8/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/Kuhe3koSvr8/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  },
                  "standard": {
                    "url": "https://i.ytimg.com/vi/Kuhe3koSvr8/sddefault.jpg",
                    "width": 640,
                    "height": 480
                  },
                  "maxres": {
                    "url": "https://i.ytimg.com/vi/Kuhe3koSvr8/maxresdefault.jpg",
                    "width": 1280,
                    "height": 720
                  }
                },
                "channelTitle": "YouTube",
                "defaultLanguage": "en",
                "localized": {
                  "title": "Uploads from YouTube",
                  "description": ""
                }
              },
              "status": {
                "privacyStatus": "public"
              }
            }
          ]
        }
  recorded_at: Sun, 13 Nov 2022 04:59:17 GMT
recorded_with: VCR 6.1.0
