---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=9bZkp7q19f0&key=<YT_TEST_API_KEY>&part=status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/QokYhW3l8CacX_u0bl6fJcDT_a4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/QokYhW3l8CacX_u0bl6fJcDT_a4\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/efqboWs9guTQJOcy_xMkW5e4IsA\"",
           "id": "9bZkp7q19f0",
           "status": {
            "uploadStatus": "processed",
            "privacyStatus": "public",
            "license": "youtube",
            "embeddable": true,
            "publicStatsViewable": true,
            "madeForKids": false
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 02:11:12 GMT
recorded_with: VCR 5.1.0
