---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/yt-analytics.readonly https://www.googleapis.com/auth/yt-analytics-monetary.readonly openid https://www.googleapis.com/auth/youtubepartner",
          "token_type": "Bearer",
          "id_token": "<YT_TEST_ID_TOKEN>"
        }
  recorded_at: Wed, 12 Feb 2020 20:12:57 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=eVyohfo-I2Q&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/k_ZLNvkfirTLDtbSNlg4ohGdNtk"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/k_ZLNvkfirTLDtbSNlg4ohGdNtk\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/No3AkFJyAgjSr26ky6JN55JgYks\"",
           "id": "eVyohfo-I2Q",
           "snippet": {
            "publishedAt": "2020-02-12T20:05:55.000Z",
            "channelId": "UCAmh1DexLGcMtDlzMCIxo4w",
            "title": "Test for Delete",
            "description": "",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/eVyohfo-I2Q/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/eVyohfo-I2Q/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/eVyohfo-I2Q/hqdefault.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "Derek Barnes",
            "categoryId": "22",
            "liveBroadcastContent": "none",
            "localized": {
             "title": "Test for Delete",
             "description": ""
            },
            "defaultAudioLanguage": "en-US"
           }
          }
         ]
        }
  recorded_at: Wed, 12 Feb 2020 20:12:57 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=eVyohfo-I2Q&part=status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/Egqlr01czixBahDqldfXx-g1CH4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/Egqlr01czixBahDqldfXx-g1CH4\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/Ay7oceVWro6VyFqc6mNhneW8u-Q\"",
           "id": "eVyohfo-I2Q",
           "status": {
            "uploadStatus": "processed",
            "privacyStatus": "unlisted",
            "license": "youtube",
            "embeddable": true,
            "publicStatsViewable": true,
            "madeForKids": false,
            "selfDeclaredMadeForKids": false
           }
          }
         ]
        }
  recorded_at: Wed, 12 Feb 2020 20:12:57 GMT
- request:
    method: put
    uri: https://www.googleapis.com/youtube/v3/videos?part=snippet
    body:
      encoding: UTF-8
      string: '{"snippet":{"title":"Test for Delete","description":"","tags":["Yt
        Test Tag"],"categoryId":"22"},"id":"eVyohfo-I2Q"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#video",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/8ivNlQ9JknOAdpX02P8K8LdDers\"",
         "id": "eVyohfo-I2Q[...]
