---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/youtube.upload https://www.googleapis.com/auth/youtube.readonly https://www.googleapis.com/auth/youtube",
          "token_type": "Bearer"
        }
  recorded_at: Sun, 13 Nov 2022 05:32:26 GMT
- request:
    method: post
    uri: https://www.googleapis.com/youtube/v3/subscriptions?part=snippet
    body:
      encoding: UTF-8
      string: '{"snippet":{"resourceId":{"channelId":"not-a-channel-id","kind":"youtube#channel"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 404,
            "message": "The resource specified by the request's \u003ccode\u003esnippet.resourceId\u003c/code\u003e property cannot be found.",
            "errors": [
              {
                "message": "The resource specified by the request's \u003ccode\u003esnippet.resourceId\u003c/code\u003e property cannot be found.",
                "domain": "youtube.subscription",
                "reason": "publisherNotFound"
              }
            ]
          }
        }
  recorded_at: Sun, 13 Nov 2022 05:32:26 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?maxResults=50&mine=true&part=snippet,status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "Le_12HbCVNC1y57FtYV1MLxLTP4",
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 50
          },
          "items": [
            {
              "kind": "youtube#channel",
              "etag": "TTPxuTyw4Bsx8ZZ5JNP34qBIp1E",
              "id": "UCw8YVwTcsfscB9Rek5M1bvA",
              "snippet": {
                "title": "Kang-Kyu Lee",
                "description": "",
                "publishedAt": "2014-02-20T17:35:21Z",
                "thumbnails": {
                  "default": {
                    "url": "https://yt3.ggpht.com/ytc/AMLnZu9dcID9_Jv-kY_KybwfFYOSgxenRDga__cbs9kPIw=s88-c-k-c0x00ffffff-no-rj",
                    "width": 88,
                    "height": 88
                  },
                  "medium": {
                    "url": "https://yt3.ggpht.com/ytc/AMLnZu9dcID9_Jv-kY_KybwfFYOSgxenRDga__cbs9kPIw=s240-c-k-c0x00ffffff-no-rj",
                    "width": 240,
                    "height": 240
                  },
                  "high": {
                    "url": "https://yt3.ggpht.com/ytc/AMLnZu9dcID9_Jv-kY_KybwfFYOSgxenRDga__cbs9kPIw=s800-c-k-c0x00ffffff-no-rj",
                    "width": 800,
                    "height": 800
                  }
                },
                "localized": {
                  "title": "Kang-Kyu Lee",
                  "description": ""
                }
              },
              "status": {
                "privacyStatus": "public",
                "isLinked": true,
                "longUploadsStatus": "allowed"
              }
            }
          ]
        }
  recorded_at: Sun, 13 Nov 2022 05:32:26 GMT
recorded_with: VCR 6.1.0
