---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/youtubepartner https://www.googleapis.com/auth/yt-analytics-monetary.readonly openid https://www.googleapis.com/auth/yt-analytics.readonly",
          "token_type": "Bearer",
          "id_token": "<YT_TEST_ID_TOKEN>"
        }
  recorded_at: Thu, 06 Feb 2020 07:13:05 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?maxResults=50&mine=true&part=snippet,status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/mrg060B-bk7cbX6J0Wn8FHEd6pc"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#channelListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/mrg060B-bk7cbX6J0Wn8FHEd6pc\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#channel",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/oIGb4qnyz6TSfmKE9O9vxBawm9M\"",
           "id": "UCAmh1DexLGcMtDlzMCIxo4w",
           "snippet": {
            "title": "Derek Barnes",
            "description": "",
            "publishedAt": "2018-08-28T00:13:02.000Z",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/a/AGF-l7_4Is2lyk1T7gOOszzreBuXkgAe50jM9SauZw=s88-c-k-c0xffffffff-no-rj-mo",
              "width": 88,
              "height": 88
             },
             "medium": {
              "url": "https://yt3.ggpht.com/a/AGF-l7_4Is2lyk1T7gOOszzreBuXkgAe50jM9SauZw=s240-c-k-c0xffffffff-no-rj-mo",
              "width": 240,
              "height": 240
             },
             "high": {
              "url": "https://yt3.ggpht.com/a/AGF-l7_4Is2lyk1T7gOOszzreBuXkgAe50jM9SauZw=s800-c-k-c0xffffffff-no-rj-mo",
              "width": 800,
              "height": 800
             }
            },
            "localized": {
             "title": "Derek Barnes",
             "description": ""
            },
            "country": "US"
           },
           "status": {
            "privacyStatus": "public",
            "isLinked": true,
            "longUploadsStatus": "eligible"
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 07:13:05 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?channelId=UCAmh1DexLGcMtDlzMCIxo4w&maxResults=50&part=snippet,status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/gMVJ_-CXhKPCrDPClZ2Uz_4t9sQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlistListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/gMVJ_-CXhKPCrDPClZ2Uz_4t9sQ\"",
         "pageInfo": {
          "totalResults": 5,
          "resultsPerPage": 50
         },
         "items": [
          {
           "kind": "youtube#playlist",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/Swvejs7lieMdFa7jr99jrMH5oq0\"",
           "id": "PLbj-IDe6g8vs0F8wnAZnQyIP9PRgmT7BF",
           "snippet": {
            "publishedAt": "2020-02-06T06:28:51.000Z",
            "channelId": "UCAmh1DexLGcMtDlzMCIxo4w",
            "title": "Yt Test Delete All Playlists 0.10854806237172787",
            "description": "Yt Test ‹description›",
            "thumbnails": {
             "default": {
              "url": "http://s.ytimg.com/yts/img/no_thumbnail-vfl4t3-4R.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "http://s.ytimg.com/yts/img/no_thumbnail-vfl4t3-4R.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "http://s.ytimg.com/yts/img/no_thumbnail-vfl4t3-4R.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "Derek Barnes",
            "tags": [
             "Yt Test Tag 1",
             "Yt Test ‹Tag› 2"
            ],
            "localized": {
             "title": "Yt Test Delete All Playlists 0.10854806237172787",
             "description": "Yt Test ‹description›"
            }
           },
           "status": {
            "privacyStatus": "unlisted"
           }
          },
          {
           "kind": "youtube#playlist",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/VXhJjcJcWTFYsQXCOy9veWBewpg\"",
           "id": "[...]
