---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=9bZkp7q19f0,invalid&key=<YT_TEST_API_KEY>&maxResults=50&order=date&part=snippet&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/Bu6hKyNajGUiX0PzSgHvIo9pBac"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/Bu6hKyNajGUiX0PzSgHvIo9pBac\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/-IuTyy08Sv4vz9ogomNHNHJ8ddg\"",
           "id": "9bZkp7q19f0",
           "snippet": {
            "publishedAt": "2012-07-15T07:46:32.000Z",
            "channelId": "UCrDkAvwZum-UTjHmzDI2iIw",
            "title": "PSY - GANGNAM STYLE(강남스타일) M/V",
            "description": "PSY - ‘I LUV IT’ M/V @ https://youtu.be/Xvjnoagk6GU\nPSY - ‘New Face’ M/V @https://youtu.be/OwJPPaEyqhI\n\nPSY - 8TH ALBUM '4X2=8' on iTunes @\nhttps://smarturl.it/PSY_8thAlbum\n\nPSY - GANGNAM STYLE(강남스타일) on iTunes @ http://smarturl.it/PsyGangnam\n\n#PSY #싸이 #GANGNAMSTYLE #강남스타일\n\nMore about PSY@\nhttp://www.youtube.com/officialpsy\nhttp://www.facebook.com/officialpsy\nhttp://twitter.com/psy_oppa\nhttps://www.instagram.com/42psy42\nhttp://iTunes.com/PSY\nhttp://sptfy.com/PSY\nhttp://weibo.com/psyoppa",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/9bZkp7q19f0/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/9bZkp7q19f0/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/9bZkp7q19f0/hqdefault.jpg",
              "width": 480,
              "height": 360
             },
             "standard": {
              "url": "https://i.ytimg.com/vi/9bZkp7q19f0/sddefault.jpg",
              "width": 640,
              "height": 480
             },
             "maxres": {
              "url": "https://i.ytimg.com/vi/9bZkp7q19f0/maxresdefault.jpg",
              "width": 1280,
              "height": 720
             }
            },
            "channelTitle": "officialpsy",
            "tags": [
             "PSY",
             "싸이",
             "강남스타일",
             "뮤직비디오",
             "Music Video",
             "Gangnam Style",
             "KOREAN SINGER",
             "KPOP",
             "KOERAN WAVE",
             "PSY 6甲",
             "6th Studio Album",
             "싸이6집",
             "육갑"
            ],
            "categoryId": "10",
            "liveBroadcastContent": "none",
            "localized": {
             "title": "PSY - GANGNAM STYLE(강남스타일) M/V",
             "description": "PSY - ‘I LUV IT’ M/V @ https://youtu.be/Xvjnoagk6GU\nPSY - ‘New Face’ M/V @https://youtu.be/OwJPPaEyqhI\n\nPSY - 8TH ALBUM '4X2=8' on iTunes @\nhttps://smarturl.it/PSY_8thAlbum\n\nPSY - GANGNAM STYLE(강남스타일) on iTunes @ http://smarturl.it/PsyGangnam\n\n#PSY #싸이 #GANGNAMSTYLE #강남스타일\n\nMore about PSY@\nhttp://www.youtube.com/officialpsy\nhttp://www.facebook.com/officialpsy\nhttp://twitter.com/psy_oppa\nhttps://www.instagram.com/42psy42\nhttp://iTunes.com/PSY\nhttp://sptfy.com/PSY\nhttp://weibo.com/psyoppa"
            }
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 02:11:15 GMT
recorded_with: VCR 5.1.0
