---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<YT_TEST_API_KEY>&maxResults=50&order=date&part=snippet&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/d23pUjebVBpgq4yoYnER0mxeueU"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"Fznwjl6JEQdo1MGvHOGaz_YanRU/d23pUjebVBpgq4yoYnER0mxeueU\\\"\",\n
        \"nextPageToken\": \"CDIQAA\",\n \"regionCode\": \"US\",\n \"pageInfo\": {\n
        \ \"totalResults\": 1000000,\n  \"resultsPerPage\": 50\n },\n \"items\": [\n
        \ {\n   \"kind\": \"youtube#searchResult\",\n   \"etag\": \"\\\"Fznwjl6JEQdo1MGvHOGaz_YanRU/VUI8z8tF_AC1XMSlreazehXgRX8\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"xQd0vougi14\"\n
        \  },\n   \"snippet\": {\n    \"publishedAt\": \"2020-02-04T19:10:07.000Z\",\n
        \   \"channelId\": \"UCOSY1uNYaW53aQgLE8YcozQ\",\n    \"title\": \"سروة عبد
        الواحد عضو مجلس النواب السابقة: نحتاج حكومة 6 أشهر تعمل على الانتخابات فقط\",\n
        \   \"description\": \"حديث_بغداد |سروة عبد الواحد عضو مجلس النواب السابقة:
        نحتاج حكومة 6 أشهر تعمل على الانتخابات فقط #MBC_IRAQ #MBC_العر...\",\n    \"thumbnails\":
        {\n     \"default\": {\n      \"url\": \"https://i.ytimg.com/vi/xQd0vougi14/default.jpg\",\n
        \     \"width\": 120,\n      \"height\": 90\n     },\n     \"medium\": {\n
        \     \"url\": \"https://i.ytimg.com/vi/xQd0vougi14/mqdefault.jpg\",\n      \"width\":
        320,\n      \"height\": 180\n     },\n     \"high\": {\n      \"url\": \"https://i.ytimg.com/vi/xQd0vougi14/hqdefault.jpg\",\n
        \     \"width\": 480,\n      \"height\": 360\n     }\n    },\n    \"channelTitle\":
        \"MBC IRAQ\",\n    \"liveBroadcastContent\": \"none\"\n   }\n  },\n  {\n   \"kind\":
        \"youtube#searchResult\",\n   \"etag\": \"\\\"Fznwjl6JEQdo1MGvHOGaz_YanRU/RsE0bgqbi3IpZ3fQdUklhdQ43qg\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"KlamIoeXHWs\"\n
        \  },\n   \"snippet\": {\n    \"publishedAt\": \"2020-02-04T19:00:10.000Z\",\n
        \   \"channelId\": \"UCm7Wys-oU32gP0yqBmjJclQ\",\n    \"title\": \"Jautā -
        Jums. Rolands Laķis (04.02.2020.)\",\n    \"description\": \"\",\n    \[...]
