---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?chart=mostPopular&key=<YT_TEST_API_KEY>&maxResults=50&order=date&part=snippet&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/gwt35eX3_axorwanPMB9xJ4f_qQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"kind\": \"youtube#videoListResponse\",\n \"etag\": \"\\\"Fznwjl6JEQdo1MGvHOGaz_YanRU/gwt35eX3_axorwanPMB9xJ4f_qQ\\\"\",\n
        \"nextPageToken\": \"CDIQAA\",\n \"pageInfo\": {\n  \"totalResults\": 200,\n
        \ \"resultsPerPage\": 50\n },\n \"items\": [\n  {\n   \"kind\": \"youtube#video\",\n
        \  \"etag\": \"\\\"Fznwjl6JEQdo1MGvHOGaz_YanRU/8hq-YoAJfUrW4Gd0JgHj2TqFzCU\\\"\",\n
        \  \"id\": \"_Or0-u4s8Oo\",\n   \"snippet\": {\n    \"publishedAt\": \"2020-02-05T02:41:44.000Z\",\n
        \   \"channelId\": \"UCw1SQ6QRRtfAhrN_cjkrOgA\",\n    \"title\": \"Pranking
        My Friends Livestream\",\n    \"description\": \"today we troll my son \\n\U0001F455LAZAR
        Merch - https://shoplazar.com/\\n\U0001F424TWITTER - https://twitter.com/lazarbeam\\n\U0001F4F7INSTAGRAM
        - https://instagram.com/lazarbeamyt\\n\\nOFFICE - \\nFRESH: https://youtube.com/mrfreshasian\\nMULLY:https://youtube.com/channel/UC42vK81HwLY-udUEJYz7efg\\nBRODIE:
        https://twitch.tv/brodie\",\n    \"thumbnails\": {\n     \"default\": {\n
        \     \"url\": \"https://i.ytimg.com/vi/_Or0-u4s8Oo/default.jpg\",\n      \"width\":
        120,\n      \"height\": 90\n     },\n     \"medium\": {\n      \"url\": \"https://i.ytimg.com/vi/_Or0-u4s8Oo/mqdefault.jpg\",\n
        \     \"width\": 320,\n      \"height\": 180\n     },\n     \"high\": {\n
        \     \"url\": \"https://i.ytimg.com/vi/_Or0-u4s8Oo/hqdefault.jpg\",\n      \"width\":
        480,\n      \"height\": 360\n     },\n     \"standard\": {\n      \"url\":
        \"https://i.ytimg.com/vi/_Or0-u4s8Oo/sddefault.jpg\",\n      \"width\": 640,\n
        \     \"height\": 480\n     },\n     \"maxres\": {\n      \"url\": \"https://i.ytimg.com/vi/_Or0-u4s8Oo/maxresdefault.jpg\",\n
        \     \"width\": 1280,\n      \"height\": 720\n     }\n    },\n    \"channelTitle\":
        \"LazarBeam\",\n    \"tags\": [\n     \"fortnite\",\n     \"fortnite battle
        royale\",\n     \"gameplay\",\n     \"lazarbeam\",\n     \"livestream\",\n
        \    \"troll\",\n     \"prank\"\n    ],\n    \"categoryId\": \"20\",\n    \"liveBroadcastContent\":
        \"none\",\n    \"localized\": {\n     \"title\": \"Pranking My Friends Livestream\",\n
        \    \"description\": \"today we troll my son \\n\U0001F455LAZAR Merch - https://shoplazar.com/\\n\U0001F424TWITTER
        - https://twitter.com/lazarbeam\\n\U0001F4F7INSTAGRAM - https://instagram.com/lazarbeamyt\\n\\nOFFICE
        - \\nFRESH: https://youtube.com/mrfreshasian\\nMULLY:https://youtube.com/channel/UC42vK81HwLY-udUEJYz7efg\\nBRODIE:
        https://twitch.tv/brodie\"\n    }\n   }\n  },\n  {\n   \"kind\": \"youtube#v[...]
