---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<YT_TEST_API_KEY>&maxResults=50&order=date&part=snippet&q=Fullscreen%20CreatorPlatform&type=video&videoDuration=long
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/sXeRKfK8C6eJ23--OzV0eHinp14"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/sXeRKfK8C6eJ23--OzV0eHinp14\"",
         "regionCode": "US",
         "pageInfo": {
          "totalResults": 23,
          "resultsPerPage": 50
         },
         "items": []
        }
  recorded_at: Thu, 06 Feb 2020 02:11:15 GMT
recorded_with: VCR 5.1.0
