---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PL-LeTutc9GRKD3yBDhnRF_yE8UTaQI5Jf&key=<YT_TEST_API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/--B2rpmLA4GCjFtx8pchSCv8wkk"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlistListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/--B2rpmLA4GCjFtx8pchSCv8wkk\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#playlist",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/f_VysyvAzCSlAYEL3EGtXLHDLBk\"",
           "id": "PL-LeTutc9GRKD3yBDhnRF_yE8UTaQI5Jf",
           "snippet": {
            "publishedAt": "2016-11-18T00:40:02.000Z",
            "channelId": "UCwCnUcLcb9-eSrHa_RQGkQQ",
            "title": "First public playlist",
            "description": "A YouTube playlist to test the yt gem.",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/9bZkp7q19f0/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/9bZkp7q19f0/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/9bZkp7q19f0/hqdefault.jpg",
              "width": 480,
              "height": 360
             },
             "standard": {
              "url": "https://i.ytimg.com/vi/9bZkp7q19f0/sddefault.jpg",
              "width": 640,
              "height": 480
             },
             "maxres": {
              "url": "https://i.ytimg.com/vi/9bZkp7q19f0/maxresdefault.jpg",
              "width": 1280,
              "height": 720
             }
            },
            "channelTitle": "Yt Test",
            "localized": {
             "title": "First public playlist",
             "description": "A YouTube playlist to test the yt gem."
            }
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 02:11:07 GMT
recorded_with: VCR 5.1.0
