---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?channelId=UC-lHJZR3Gqxm24_Vd_AJ5Yw&key=<YT_TEST_API_KEY>&maxResults=100&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/bAkGUshM3-d2923E4tptGU8EdQg"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"kind\": \"youtube#commentThreadListResponse\",\n \"etag\": \"\\\"Fznwjl6JEQdo1MGvHOGaz_YanRU/bAkGUshM3-d2923E4tptGU8EdQg\\\"\",\n
        \"pageInfo\": {\n  \"totalResults\": 24,\n  \"resultsPerPage\": 100\n },\n
        \"items\": [\n  {\n   \"kind\": \"youtube#commentThread\",\n   \"etag\": \"\\\"Fznwjl6JEQdo1MGvHOGaz_YanRU/hDEYUKzJ1ctxsTMUBV45TVV9aDQ\\\"\",\n
        \  \"id\": \"Ugyp3Dok55S4LpxnpIp4AaABAg\",\n   \"snippet\": {\n    \"channelId\":
        \"UC-lHJZR3Gqxm24_Vd_AJ5Yw\",\n    \"topLevelComment\": {\n     \"kind\":
        \"youtube#comment\",\n     \"etag\": \"\\\"Fznwjl6JEQdo1MGvHOGaz_YanRU/Idja2VC7ZS7vo6y8WuDmLqE2b6c\\\"\",\n
        \    \"id\": \"Ugyp3Dok55S4LpxnpIp4AaABAg\",\n     \"snippet\": {\n      \"authorDisplayName\":
        \"Ziegelstein\",\n      \"authorProfileImageUrl\": \"https://yt3.ggpht.com/a/AGF-l7_-2vF_8YA5qafyOCPVEfai1lwavFu5qU9pQA=s48-c-k-c0xffffffff-no-rj-mo\",\n
        \     \"authorChannelUrl\": \"http://www.youtube.com/channel/UC30fhUo4fE25BLVRJHaatVQ\",\n
        \     \"authorChannelId\": {\n       \"value\": \"UC30fhUo4fE25BLVRJHaatVQ\"\n
        \     },\n      \"channelId\": \"UC-lHJZR3Gqxm24_Vd_AJ5Yw\",\n      \"textDisplay\":
        \"hey\",\n      \"textOriginal\": \"hey\",\n      \"canRate\": true,\n      \"viewerRating\":
        \"none\",\n      \"likeCount\": 0,\n      \"publishedAt\": \"2019-12-19T20:14:51.000Z\",\n
        \     \"updatedAt\": \"2019-12-19T20:14:51.000Z\"\n     }\n    },\n    \"canReply\":
        true,\n    \"totalReplyCount\": 0,\n    \"isPublic\": true\n   }\n  },\n  {\n
        \  \"kind\": \"youtube#commentThread\",\n   \"etag\": \"\\\"Fznwjl6JEQdo1MGvHOGaz_YanRU/9N6tEsrLE8T6d3vX92NTf1F0HH0\\\"\",\n
        \  \"id\": \"UgwufNGuOL9kMKAUWjZ4AaABAg\",\n   \"snippet\": {\n    \"channelId\":
        \"UC-lHJZR3Gqxm24_Vd_AJ5Yw\",\n    \"topLevelComment\": {\n     \"kind\":
        \"youtube#comment\",\n     \"etag\": \"\\\"Fznwjl6JEQdo1MGvHOGaz_YanRU/OK8PB6sMmrKLFoApp_fUeG-IBxs\\\"\",\n
        \    \"id\": \"UgwufNGuOL9kMKAUWjZ4AaABAg\",\n[...]
