---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/yt-analytics-monetary.readonly openid https://www.googleapis.com/auth/youtubepartner https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/yt-analytics.readonly",
          "token_type": "Bearer",
          "id_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6ImQ4ZWZlYTFmNjZlODdiYjM2YzJlYTA5ZDgzNzMzOGJkZDgxMDM1M2IiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJhY2NvdW50cy5nb29nbGUuY29tIiwiYXpwIjoiNTkxMjM2NTA0ODQ2LTlsbGZjajJwNDcwZGlmcW5kaHNxZzJ1MWZ0ajRqNzM2LmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tIiwiYXVkIjoiNTkxMjM2NTA0ODQ2LTlsbGZjajJwNDcwZGlmcW5kaHNxZzJ1MWZ0ajRqNzM2LmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tIiwic3ViIjoiMTAzMDc3NzAwNDU1OTkyNzEzMjQzIiwiaGQiOiJmdWxsc2NyZWVuLmNvbSIsImVtYWlsIjoiZGVyZWsuYmFybmVzQGZ1bGxzY3JlZW4uY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImF0X2hhc2giOiJfSk05U2xPLWNXTVFFaENiQ29tRHhRIiwiaWF0IjoxNTgwOTcyNzIyLCJleHAiOjE1ODA5NzYzMjJ9.iTG0RiPx4l5KRgQ2FbRZ6aJxh5kUOREBpQ71-lKSv78QlKqlpPqP1-bXgXNp-yD85fPPVHEpIedgPhKR7qePaqGSrr35qMZdu5WJLVjiFeYw2Vihfm2_qronxupdyJUNhnShfr6YDtfvApbJ1QRZzdesjgdPNCgJ8eQFAtbP2vE3qarFVLsTk315M-InuA23FOkOHO6G9Db2Q48z6Sgbg4h7y9Ue2Rbm6ZvPQPj3pi9k9tuoT-DaaqkNc6C3XYC_ICoM-Hl4mCjqU8KAgjs2V7nBPAcjlpA7kjlVaVk0qdEYHT-7g_tQvc5GBvU-0gGgrDsIycJRh7nXAYNw9miy0w"
        }
  recorded_at: Thu, 06 Feb 2020 07:05:22 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?channelId=UCBR8-60-B28hp2BmDPdntcQ&maxResults=50&part=snippet,status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/baKjH7B9VicF2OSWw1EAc302S8A"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlistListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/baKjH7B9VicF2OSWw1EAc302S8A\"",
         "nextPageToken": "CDIQAA",
         "pageInfo": {
          "totalResults": 2358,
          "resultsPerPage": 50
         },
         "items": [
          {
           "kind": "youtube#playlist",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/17fK6ogZfZWCVjoJGlEIh_4lu7g\"",
           "id": "PLbpi6ZahtOH6u8l5Hj3myCkytI-vctt9s",
           "snippet": {
            "publishedAt": "2020-01-27T16:48:00.000Z",
            "channelId": "UCBR8-60-B28hp2BmDPdntcQ",
            "title": "Remembering Kobe Bryant",
            "description": "Look back at Kobe's legacy on the court.",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/FeXZY4eVLlo/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/FeXZY4eVLlo/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/FeXZY4eVLlo/hqdefault.jpg",
              "width": 480,
              "height": 360
             },
             "standard": {
              "url": "https://i.ytimg.com/vi/FeXZY4eVLlo/sddefault.jpg",
              "width": 640,
              "height": 480
             },
             "maxres": {
              "url": "https://i.ytimg.com/vi/FeXZY4eVLlo/maxresdefault.jpg",
              "width": 1280,
              "height": 720
             }
            },
            "channelTitle": "YouTube",
            "localized": {
             "title": "Remembering Kobe Bryant",
             "description": "Look back at Kobe's legacy on the court."
            }
           },
           "status": {
            "privacyStatus": "public"
           }
          },
          {
           "kind": "youtube#playlist",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/eHXH0L7vRvNdqwXGyziD5uPrsNc\"",
           "id": "PLbpi6ZahtOH609MP4wfEjsSE9SeBEmSKe",
           "snippet": {
            "publishedAt": "2020-01-24T06:54:25.000Z",
            "channelId": "UCBR8-60-B28hp2BmDPdntcQ",
            "title": "Lunar New Year Treats!",
            "description": "Whats a celebration without a feast! Celebrate Lunar New Year with re[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PLbpi6ZahtOH6u8l5Hj3myCkytI-vctt9s,PLbpi6ZahtOH609MP4wfEjsSE9SeBEmSKe,PLbpi6ZahtOH4gKQpM2_9q4vp_yT0CcYQi,PLbpi6ZahtOH6cDdGN0yG88Ucyw7q9htLa,PLbpi6ZahtOH4iOdBSB7PLd079Nw9-2ep4,PLbpi6ZahtOH5Vh6VMF4MRPVgtqsMMBhG0,PLbpi6ZahtOH7DbN9uCeGuV9EqoMNM-SbZ,PLbpi6ZahtOH4KL2rAzGz_i5lRl87QI58G,PLbpi6ZahtOH4WnjayzM5SDiZ2q6ojhJqC,PLbpi6ZahtOH63qnPMZCXVxffGCCU7qz1a,PLbpi6ZahtOH7RD6SYJgOhykD3TmTDntgx,PLbpi6ZahtOH4nwf2gcSVCojzVoK[...]
