---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/youtube.upload https://www.googleapis.com/auth/youtube.readonly https://www.googleapis.com/auth/youtube",
          "token_type": "Bearer"
        }
  recorded_at: Sun, 13 Nov 2022 04:58:30 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCBR8-60-B28hp2BmDPdntcQ&chart=invalid&maxResults=50&order=date&part=snippet&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#searchListResponse\",\n  \"etag\": \"O9ywQLkeNUz8reivEspjB-HMUKs\",\n
        \ \"nextPageToken\": \"CDIQAA\",\n  \"regionCode\": \"US\",\n  \"pageInfo\":
        {\n    \"totalResults\": 570,\n    \"resultsPerPage\": 50\n  },\n  \"items\":
        [\n    {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"ijbeIZJCyPa8e0I_UAHjuh6eoL8\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"flXvU9gCNjE\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2022-11-07T20:00:10Z\",\n        \"channelId\": \"UCBR8-60-B28hp2BmDPdntcQ\",\n
        \       \"title\": \"@Alex Faction&#39;s got a darker dark mode vibe \U0001F5A4\",\n
        \       \"description\": \"introducing darker dark mode, which adds a bit
        more personality to your videos. just ask@Alex Faction.\",\n        \"thumbnails\":
        {\n          \"default\": {\n            \"url\": \"https://i.ytimg.com/vi/flXvU9gCNjE/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          },\n          \"medium\":
        {\n            \"url\": \"https://i.ytimg.com/vi/flXvU9gCNjE/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/flXvU9gCNjE/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          }\n        },\n
        \       \"channelTitle\": \"YouTube\",\n        \"liveBroadcastContent\":
        \"none\",\n        \"publishTime\": \"2022-11-07T20:00:10Z\"\n      }\n    },\n
        \   {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"acNbEHOgvggOcxftywPje5LtTwM\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"ICH7aSnIyhM\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2022-11-04T19:00:14Z\",\n        \"channelId\": \"UCBR8-60-B28hp2BmDPdntcQ\",\n
        \       \"title\": \"@Brandon B says bye to sharp corners \U0001FA79\",\n
        [...]
