---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=invalid-id-&key=<YT_TEST_API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/ewwRz0VbTYpp2EGbOkvZ5M_1mbo"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlistListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/ewwRz0VbTYpp2EGbOkvZ5M_1mbo\"",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 5
         },
         "items": []
        }
  recorded_at: Thu, 06 Feb 2020 02:11:06 GMT
recorded_with: VCR 5.1.0
