---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/youtube.upload https://www.googleapis.com/auth/youtube.readonly https://www.googleapis.com/auth/youtube",
          "token_type": "Bearer"
        }
  recorded_at: Sun, 13 Nov 2022 04:59:51 GMT
- request:
    method: post
    uri: https://www.googleapis.com/youtube/v3/subscriptions?part=snippet
    body:
      encoding: UTF-8
      string: '{"snippet":{"resourceId":{"channelId":"UCCj956IF62FbT7Gouszaj9w","kind":"youtube#channel"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#subscription\",\n  \"etag\": \"wKd5j9LonG0AYCllumEGqeCj53c\",\n
        \ \"id\": \"Kpk8O-k2WN4rOlyMbntWXReqWaUkCeaZRVlXMiG4QvI\",\n  \"snippet\":
        {\n    \"publishedAt\": \"2022-11-13T04:59:51.372521Z\",\n    \"title\": \"BBC\",\n
        \   \"description\": \"The BBC is the world’s leading public service broadcaster.\\n\\nWe’re
        impartial and independent, and every day we create distinctive, world-class
        programmes and content which inform, educate and entertain millions of people
        in the UK and around the world.\\n\\nSUBSCRIBE to our YouTube channel to get
        the best of BBC entertainment and comedy programmes, stories from science
        and nature documentaries, and much more! \U0001F449 https://bit.ly/2IXqEIn\\n\\nGet
        ALL your fresh TV, and sofa-hugging box sets on iPlayer \U0001F449 https://bbc.in/2J18jYJ\",\n
        \   \"resourceId\": {\n      \"kind\": \"youtube#channel\",\n      \"channelId\":
        \"UCCj956IF62FbT7Gouszaj9w\"\n    },\n    \"channelId\": \"UCw8YVwTcsfscB9Rek5M1bvA\",\n
        \   \"thumbnails\": {\n      \"default\": {\n        \"url\": \"https://yt3.ggpht.com/Y_iNjNBFP6bpHwT2hAHaLj7J3po22sGjwlR6mn26PWRp2IFesRAeNQEpSuh9xFiG8R57OOE83DE=s88-c-k-c0x00ffffff-no-rj\"\n
        \     },\n      \"medium\": {\n        \"url\": \"https://yt3.ggpht.com/Y_iNjNBFP6bpHwT2hAHaLj7J3po22sGjwlR6mn26PWRp2IFesRAeNQEpSuh9xFiG8R57OOE83DE=s240-c-k-c0x00ffffff-no-rj\"\n
        \     },\n      \"high\": {\n        \"url\": \"https://yt3.ggpht.com/Y_iNjNBFP6bpHwT2hAHaLj7J3po22sGjwlR6mn26PWRp2IFesRAeNQEpSuh9xFiG8R57OOE83DE=s800-c-k-c0x00ffffff-no-rj\"\n
        \     }\n    }\n  }\n}\n"
  recorded_at: Sun, 13 Nov 2022 04:59:51 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/youtube/v3/subscriptions?id=Kpk8O-k2WN4rOlyMbntWXReqWaUkCeaZRVlXMiG4QvI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 13 Nov 2022 05:00:02 GMT
recorded_with: VCR 6.1.0
