---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/youtubepartner https://www.googleapis.com/auth/yt-analytics-monetary.readonly openid https://www.googleapis.com/auth/yt-analytics.readonly https://www.googleapis.com/auth/userinfo.email",
          "token_type": "Bearer",
          "id_token": "<YT_TEST_ID_TOKEN>"
        }
  recorded_at: Wed, 12 Feb 2020 20:15:14 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=eVyohfo-I2Q&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/CuDRGmX2bedBExzDUVMKmrLWFDc"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/CuDRGmX2bedBExzDUVMKmrLWFDc\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/bWf3tIsUDWGmPJh4fYN73A2LsB8\"",
           "id": "eVyohfo-I2Q",
           "snippet": {
            "publishedAt": "2020-02-12T20:05:55.000Z",
            "channelId": "UCAmh1DexLGcMtDlzMCIxo4w",
            "title": "Example Yt Test ‹ ›",
            "description": "‹ ›",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/eVyohfo-I2Q/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/eVyohfo-I2Q/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/eVyohfo-I2Q/hqdefault.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "Derek Barnes",
            "tags": [
             "‹tag›"
            ],
            "categoryId": "22",
            "liveBroadcastContent": "none",
            "localized": {
             "title": "Example Yt Test ‹ ›",
             "description": "‹ ›"
            },
            "defaultAudioLanguage": "en-US"
           }
          }
         ]
        }
  recorded_at: Wed, 12 Feb 2020 20:15:14 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=eVyohfo-I2Q&part=status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/nvRzM5HAozB2GrtIWp9CLQlAWdA"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/nvRzM5HAozB2GrtIWp9CLQlAWdA\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/O0-Sp64k8YsS4XcSNCY6OW6vxec\"",
           "id": "eVyohfo-I2Q",
           "status": {
            "uploadStatus": "processed",
            "privacyStatus": "unlisted",
            "license": "youtube",
            "embeddable": false,
            "publicStatsViewable": true,
            "madeForKids": false,
            "selfDeclaredMadeForKids": false
           }
          }
         ]
        }
  recorded_at: Wed, 12 Feb 2020 20:15:14 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&filters=video==eVyohfo-I2Q&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=views&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "views",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:15:14 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&filters=video==eVyohfo-I2Q&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=comments&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "comments",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:15:16 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&filters=video==eVyohfo-I2Q&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=likes&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "likes",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:15:16 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&filters=video==eVyohfo-I2Q&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=dislikes&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "dislikes",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:15:17 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&filters=video==eVyohfo-I2Q&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=shares&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "shares",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:15:17 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&filters=video==eVyohfo-I2Q&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=subscribersGained&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "subscribersGained",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:15:18 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&filters=video==eVyohfo-I2Q&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=subscribersLost&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "subscribersLost",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:15:18 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&filters=video==eVyohfo-I2Q&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=videosAddedToPlaylists&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "videosAddedToPlaylists",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:15:18 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&filters=video==eVyohfo-I2Q&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=videosRemovedFromPlaylists&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "videosRemovedFromPlaylists",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:15:19 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&filters=video==eVyohfo-I2Q&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=estimatedMinutesWatched&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "estimatedMinutesWatched",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:15:19 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&filters=video==eVyohfo-I2Q&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=averageViewDuration&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "averageViewDuration",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:15:20 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&filters=video==eVyohfo-I2Q&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=averageViewPercentage&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "averageViewPercentage",
              "columnType": "METRIC",
              "dataType": "FLOAT"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:15:21 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&filters=video==eVyohfo-I2Q&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=annotationClicks&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "annotationClicks",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:15:22 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&filters=video==eVyohfo-I2Q&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=annotationClickThroughRate&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "annotationClickThroughRate",
              "columnType": "METRIC",
              "dataType": "FLOAT"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:15:22 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&filters=video==eVyohfo-I2Q&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=annotationCloseRate&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "annotationCloseRate",
              "columnType": "METRIC",
              "dataType": "FLOAT"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:15:23 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&filters=video==eVyohfo-I2Q&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=cardImpressions&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "cardImpressions",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:15:24 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&filters=video==eVyohfo-I2Q&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=cardClicks&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "cardClicks",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:15:24 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&filters=video==eVyohfo-I2Q&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=cardClickRate&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "cardClickRate",
              "columnType": "METRIC",
              "dataType": "FLOAT"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:15:25 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&filters=video==eVyohfo-I2Q&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=cardTeaserImpressions&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "cardTeaserImpressions",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:15:25 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&filters=video==eVyohfo-I2Q&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=cardTeaserClicks&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "cardTeaserClicks",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:15:26 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&filters=video==eVyohfo-I2Q&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=cardTeaserClickRate&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "cardTeaserClickRate",
              "columnType": "METRIC",
              "dataType": "FLOAT"
            }
          ],
          "rows": [
            [
              0
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:15:27 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?dimensions=gender,ageGroup&endDate=2020-02-12&filters=video==eVyohfo-I2Q&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=viewerPercentage&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "gender",
              "columnType": "DIMENSION",
              "dataType": "STRING"
            },
            {
              "name": "ageGroup",
              "columnType": "DIMENSION",
              "dataType": "STRING"
            },
            {
              "name": "viewerPercentage",
              "columnType": "METRIC",
              "dataType": "FLOAT"
            }
          ],
          "rows": []
        }
  recorded_at: Wed, 12 Feb 2020 20:15:30 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&filters=video==eVyohfo-I2Q&ids=channel==UCAmh1DexLGcMtDlzMCIxo4w&metrics=estimatedRevenue,estimatedMinutesWatched&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 403,
            "message": "Forbidden",
            "errors": [
              {
                "message": "Forbidden",
                "domain": "global",
                "reason": "forbidden"
              }
            ]
          }
        }
  recorded_at: Wed, 12 Feb 2020 20:15:31 GMT
recorded_with: VCR 5.1.0
