---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCAmh1DexLGcMtDlzMCIxo4w&key=<YT_TEST_API_KEY>&part=status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/XVBsK9fQc9zW5_d4TxIyGkDdUM4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#channelListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/XVBsK9fQc9zW5_d4TxIyGkDdUM4\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#channel",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/dYxnUHlbRUkm9oyw29fM0iPAtBA\"",
           "id": "UCAmh1DexLGcMtDlzMCIxo4w",
           "status": {
            "privacyStatus": "public",
            "isLinked": true,
            "longUploadsStatus": "longUploadsUnspecified"
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 02:07:53 GMT
recorded_with: VCR 5.1.0
