---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCAmh1DexLGcMtDlzMCIxo4w&key=<YT_TEST_API_KEY>&maxResults=50&order=date&part=snippet&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/pbKees62T7iXrsOKgxUwvfR9KP4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/pbKees62T7iXrsOKgxUwvfR9KP4\"",
         "regionCode": "US",
         "pageInfo": {
          "totalResults": 3,
          "resultsPerPage": 50
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/M_PJZ_KDZGBj0o1jrmI1c31V5Zw\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "mio1RltQdw4"
           },
           "snippet": {
            "publishedAt": "2018-12-20T22:26:49.000Z",
            "channelId": "UCAmh1DexLGcMtDlzMCIxo4w",
            "title": "Yt Example Update Video 0.11456685288118662 - ®•♡❥❦❧☙",
            "description": "Yt Example Description 0.47191132024310534 - ®•",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/mio1RltQdw4/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/mio1RltQdw4/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/mio1RltQdw4/hqdefault.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "Derek Barnes",
            "liveBroadcastContent": "none"
           }
          },
          {
           "kind": "youtube#searchResult",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/PuJa_gBBezM6AYaBm1n9vukFiEg\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "B9lEC_cXZMQ"
           },
           "snippet": {
            "publishedAt": "2018-12-20T22:26:45.000Z",
            "channelId": "UCAmh1DexLGcMtDlzMCIxo4w",
            "title": "Atomic Test",
            "description": "",
            "thumbnails[...]
