---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?channelId=UCAmh1DexLGcMtDlzMCIxo4w&key=<YT_TEST_API_KEY>&maxResults=50&part=snippet,status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/HbVIGlbby_HvbOSg0YVOghMdbC0"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlistListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/HbVIGlbby_HvbOSg0YVOghMdbC0\"",
         "pageInfo": {
          "totalResults": 2,
          "resultsPerPage": 50
         },
         "items": [
          {
           "kind": "youtube#playlist",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/gPZ4S1gVyWQBXrsQufJ1HypBWnA\"",
           "id": "PLbj-IDe6g8vt9owrsm46cEtkRnn-PzV4F",
           "snippet": {
            "publishedAt": "2019-06-07T21:42:53.000Z",
            "channelId": "UCAmh1DexLGcMtDlzMCIxo4w",
            "title": "hi ‹there",
            "description": "",
            "thumbnails": {
             "default": {
              "url": "http://s.ytimg.com/yts/img/no_thumbnail-vfl4t3-4R.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "http://s.ytimg.com/yts/img/no_thumbnail-vfl4t3-4R.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "http://s.ytimg.com/yts/img/no_thumbnail-vfl4t3-4R.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "Derek Barnes",
            "localized": {
             "title": "hi ‹there",
             "description": ""
            }
           },
           "status": {
            "privacyStatus": "public"
           }
          },
          {
           "kind": "youtube#playlist",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/YSmNRdLhdxpZUWkUrYxpKFHkL4U\"",
           "id": "PLbj-IDe6g8vsAPODEr-qEFcDDoXxjG8DT",
           "snippet": {
            "publishedAt": "2018-10-25T00:54:47.000Z",
            "channelId": "UCAmh1DexLGcMtDlzMCIxo4w",
            "title": "Mustard Talk",
            "description": "",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/mio1RltQdw4/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/mio1RltQdw4/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/mio1RltQdw4/hqdefault.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "Derek Barnes",
            "localized": {
             "title": "Mustard Talk",
             "description": ""
            }
           },
           "status": {
            "privacyStatus": "public"
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 02:07:53 GMT
recorded_with: VCR 5.1.0
