---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCAmh1DexLGcMtDlzMCIxo4w&key=<YT_TEST_API_KEY>&maxResults=50&part=statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/jLIHyFhBtuHNKsyg1gUhQK3-ILo"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#channelListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/jLIHyFhBtuHNKsyg1gUhQK3-ILo\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#channel",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/nIOTY6zwuRzX2J-GrwsNv3ZBgAM\"",
           "id": "UCAmh1DexLGcMtDlzMCIxo4w",
           "statistics": {
            "viewCount": "16",
            "commentCount": "0",
            "subscriberCount": "2",
            "hiddenSubscriberCount": false,
            "videoCount": "3"
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 02:07:52 GMT
recorded_with: VCR 5.1.0
