---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCAmh1DexLGcMtDlzMCIxo4w&key=<YT_TEST_API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/6lhftD9Petxkfl5DsC58RZvAsnI"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#channelListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/6lhftD9Petxkfl5DsC58RZvAsnI\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#channel",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/4EebM3ii0jb8XZfQHpy2f08qsWk\"",
           "id": "UCAmh1DexLGcMtDlzMCIxo4w",
           "snippet": {
            "title": "Derek Barnes",
            "description": "",
            "publishedAt": "2018-08-28T00:13:02.000Z",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/a/AGF-l7_4Is2lyk1T7gOOszzreBuXkgAe50jM9SauZw=s88-c-k-c0xffffffff-no-rj-mo",
              "width": 88,
              "height": 88
             },
             "medium": {
              "url": "https://yt3.ggpht.com/a/AGF-l7_4Is2lyk1T7gOOszzreBuXkgAe50jM9SauZw=s240-c-k-c0xffffffff-no-rj-mo",
              "width": 240,
              "height": 240
             },
             "high": {
              "url": "https://yt3.ggpht.com/a/AGF-l7_4Is2lyk1T7gOOszzreBuXkgAe50jM9SauZw=s800-c-k-c0xffffffff-no-rj-mo",
              "width": 800,
              "height": 800
             }
            },
            "localized": {
             "title": "Derek Barnes",
             "description": ""
            },
            "country": "US"
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 02:07:52 GMT
recorded_with: VCR 5.1.0
