---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/subscriptions?channelId=UCAmh1DexLGcMtDlzMCIxo4w&key=<YT_TEST_API_KEY>&maxResults=50&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/afebqXMZeM6Hs7dMouTGC8joA0M"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#subscriptionListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/afebqXMZeM6Hs7dMouTGC8joA0M\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 50
         },
         "items": [
          {
           "kind": "youtube#subscription",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/GJozp3bujUU703WDJ1YhTxDWoOs\"",
           "id": "YL9evQz2a9mAJZMy-5ZQKZDdUgSRASc7THoveUGCROA",
           "snippet": {
            "publishedAt": "2020-02-06T01:51:19.885Z",
            "title": "Popular on YouTube",
            "description": "The pulse of what's popular on YouTube. Check out the latest music videos, trailers, comedy clips, and everything else that people are watching right now.",
            "resourceId": {
             "kind": "youtube#channel",
             "channelId": "UCF0pVplsI8R5kcAqgtoRqoA"
            },
            "channelId": "UCAmh1DexLGcMtDlzMCIxo4w",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/-V0hHJs9xr1c/AAAAAAAAAAI/AAAAAAAAAAA/dy1hDy4k7_g/s88-c-k-no-mo-rj-c0xffffff/photo.jpg"
             },
             "medium": {
              "url": "https://yt3.ggpht.com/-V0hHJs9xr1c/AAAAAAAAAAI/AAAAAAAAAAA/dy1hDy4k7_g/s240-c-k-no-mo-rj-c0xffffff/photo.jpg"
             },
             "high": {
              "url": "https://yt3.ggpht.com/-V0hHJs9xr1c/AAAAAAAAAAI/AAAAAAAAAAA/dy1hDy4k7_g/s800-c-k-no-mo-rj-c0xffffff/photo.jpg"
             }
            }
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 02:07:53 GMT
recorded_with: VCR 5.1.0
