---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/yt-analytics.readonly https://www.googleapis.com/auth/youtubepartner openid https://www.googleapis.com/auth/yt-analytics-monetary.readonly https://www.googleapis.com/auth/userinfo.email",
          "token_type": "Bearer",
          "id_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6ImQ4ZWZlYTFmNjZlODdiYjM2YzJlYTA5ZDgzNzMzOGJkZDgxMDM1M2IiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJhY2NvdW50cy5nb29nbGUuY29tIiwiYXpwIjoiNTkxMjM2NTA0ODQ2LTlsbGZjajJwNDcwZGlmcW5kaHNxZzJ1MWZ0ajRqNzM2LmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tIiwiYXVkIjoiNTkxMjM2NTA0ODQ2LTlsbGZjajJwNDcwZGlmcW5kaHNxZzJ1MWZ0ajRqNzM2LmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tIiwic3ViIjoiMTAzMDc3NzAwNDU1OTkyNzEzMjQzIiwiaGQiOiJmdWxsc2NyZWVuLmNvbSIsImVtYWlsIjoiZGVyZWsuYmFybmVzQGZ1bGxzY3JlZW4uY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImF0X2hhc2giOiJHVDk2Y2FCeWkyS2ZmUkdQSnNDeVpnIiwiaWF0IjoxNTgwOTcyNzI1LCJleHAiOjE1ODA5NzYzMjV9.lS4XJNxsPP6c_8-Ks40Vkz5NzOr_J5zPPqS2eLYcc8iFVYtR2YHDT7Tgllw0N9QGrbc4iOGAvVY4JXCOdzOuRWAFXkRoLGKXhBvcbxMZElQveupaRsT5kvx8-k44J3tTaBWSVrmUMEOX6JF9Y36i-r9vovHPwhKR9xOrw8LE5HI2q5-LVcPsxdGvUEyAg5GgP_f4NPGTzTXC_2kBTrIL2IRmaDiVRhqCfaLyK5yYLMH2bUlpqHGeYLpovwFkzPTQ_7WPIBdlG5eZRWvwxTnrewcxdlJMcN2A-9Hymfzl1fnIkqabHqcjoSnQLHcMkvG0ynhPmivDa6-_7dCDmvIkfQ"
        }
  recorded_at: Thu, 06 Feb 2020 07:05:25 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UC0v-tlzsn0QZwJnkiaUSJVQ&maxResults=50&part=statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/UyiTzixhTbQq-tzFmXE3Gk6luVw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#channelListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/UyiTzixhTbQq-tzFmXE3Gk6luVw\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#channel",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/zGEtVBgyRKm10UeNHdn-u88-yog\"",
           "id": "UC0v-tlzsn0QZwJnkiaUSJVQ",
           "statistics": {
            "viewCount": "8706674678",
            "commentCount": "0",
            "subscriberCount": "19900000",
            "hiddenSubscriberCount": false,
            "videoCount": "2196"
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 07:05:25 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UC0v-tlzsn0QZwJnkiaUSJVQ&maxResults=50&order=date&part=snippet&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/PvAek1SywIna7QFL0dvlFyuahtQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"Fznwjl6JEQdo1MGvHOGaz_YanRU/PvAek1SywIna7QFL0dvlFyuahtQ\\\"\",\n
        \"nextPageToken\": \"CDIQAA\",\n \"regionCode\": \"US\",\n \"pageInfo\": {\n
        \ \"totalResults\": 108369,\n  \"resultsPerPage\": 50\n },\n \"items\": [\n
        \ {\n   \"kind\": \"youtube#searchResult\",\n   \"etag\": \"\\\"Fznwjl6JEQdo1MGvHOGaz_YanRU/iPtwiZfEqpDzEbtTJdXcN6HmFjw\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"b7Xgl9L-pnQ\"\n
        \  },\n   \"snippet\": {\n    \"publishedAt\": \"2020-02-05T22:00:05.000Z\",\n
        \   \"channelId\": \"UC0v-tlzsn0QZwJnkiaUSJVQ\",\n    \"title\": \"K-pop Stars
        React To Try Not To Sing Along Challenge (ITZY 있지)\",\n    \"description\":
        \"If you enjoyed this episode, be sure to follow ITZY! (links below) Check
        out more of our IGTV series over on our official @FBE Instagram! We also post
        updates ...\",\n    \"thumbnails\": {\n     \"default\": {\n      \"url\":
        \"https://i.ytimg.com/vi/b7Xgl9L-pnQ/default.jpg\",\n      \"width\": 120,\n
        \     \"height\": 90\n     },\n     \"medium\": {\n      \"url\": \"https://i.ytimg.com/vi/b7Xgl9L-pnQ/mqdefault.jpg\",\n
        \     \"width\": 320,\n      \"height\": 180\n     },\n     \"high\": {\n
        \     \"url\": \"https://i.ytimg.com/vi/b7Xgl9L-pnQ/hqdefault.jpg\",\n      \"width\":
        480,\n      \"height\": 360\n     }\n    },\n    \"channelTitle\": \"FBE\",\n
        \   \"liveBroadcastContent\": \"none\"\n   }\n  },\n  {\n   \"kind\": \"youtube#searchResult\",\n
        \  \"etag\": \"\\\"Fznwjl6JEQdo1MGvHOGaz_YanRU/x2cH1rCKbMFTxi4-Ry9NvKOiqC4\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"PiZlXNXpF-A\"\n
        \  },\n   \"snippet\": {\n    \"publishedAt\": \"2020-02-04T22:00:03.000Z\",\n
        \   \"channelId\": \"UC0v-tlzsn0QZwJnkiaUSJVQ\",\n    \"title\": \"Generations
        React To Super Bowl Commercials 2020\",\n    \"description\": \"Ge[...]
