---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/youtube.readonly https://www.googleapis.com/auth/youtube https://www.googleapis.com/auth/youtube.upload",
          "token_type": "Bearer"
        }
  recorded_at: Sun, 13 Nov 2022 04:58:28 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UC0v-tlzsn0QZwJnkiaUSJVQ&maxResults=50&part=statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "7AfgNwanq92Y7dmUn5h2wUgdhRY",
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 50
          },
          "items": [
            {
              "kind": "youtube#channel",
              "etag": "P7Y5uL8fItmo4YTFpNN_kVKxek4",
              "id": "UC0v-tlzsn0QZwJnkiaUSJVQ",
              "statistics": {
                "viewCount": "13008897160",
                "subscriberCount": "20000000",
                "hiddenSubscriberCount": false,
                "videoCount": "3970"
              }
            }
          ]
        }
  recorded_at: Sun, 13 Nov 2022 04:58:28 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UC0v-tlzsn0QZwJnkiaUSJVQ&maxResults=50&order=date&part=snippet&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#searchListResponse\",\n  \"etag\": \"-Ei_cqosoyElG35fG7FzochQNFc\",\n
        \ \"nextPageToken\": \"CDIQAA\",\n  \"regionCode\": \"US\",\n  \"pageInfo\":
        {\n    \"totalResults\": 4065,\n    \"resultsPerPage\": 50\n  },\n  \"items\":
        [\n    {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"fVfLcjrB5XtKsIXfXVi0vcx1UNY\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"YGXqh283zyE\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2022-11-12T17:00:33Z\",\n        \"channelId\": \"UC0v-tlzsn0QZwJnkiaUSJVQ\",\n
        \       \"title\": \"Finish The Line Challenge - Marvel (Guardians, Black
        Panther, Thor, Doctor Strange &amp; More) | React\",\n        \"description\":
        \"How well do you and the Reactors know the Marvel Cinematic Universe? Can
        you finish these iconic lines from the likes of Black ...\",\n        \"thumbnails\":
        {\n          \"default\": {\n            \"url\": \"https://i.ytimg.com/vi/YGXqh283zyE/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          },\n          \"medium\":
        {\n            \"url\": \"https://i.ytimg.com/vi/YGXqh283zyE/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/YGXqh283zyE/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          }\n        },\n
        \       \"channelTitle\": \"REACT\",\n        \"liveBroadcastContent\": \"none\",\n
        \       \"publishTime\": \"2022-11-12T17:00:33Z\"\n      }\n    },\n    {\n
        \     \"kind\": \"youtube#searchResult\",\n      \"etag\": \"VCGa_4i6V9aRVAqAQH_KzcbG1Q8\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"HpMb5BtXHGM\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2022-11-11T20:00:13Z\",\n        \"channelId\": \"UC0v-tlzsn0QZwJnkiaUSJVQ\",\n
        \       \"title\": \"We Tested 7 of The Craziest Life Hacks So You Don&#39;t
     [...]
