---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/youtube.upload https://www.googleapis.com/auth/youtube.readonly https://www.googleapis.com/auth/youtube",
          "token_type": "Bearer"
        }
  recorded_at: Sun, 13 Nov 2022 04:58:30 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCBR8-60-B28hp2BmDPdntcQ&maxResults=50&order=date&part=snippet&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#searchListResponse\",\n  \"etag\": \"O9ywQLkeNUz8reivEspjB-HMUKs\",\n
        \ \"nextPageToken\": \"CDIQAA\",\n  \"regionCode\": \"US\",\n  \"pageInfo\":
        {\n    \"totalResults\": 570,\n    \"resultsPerPage\": 50\n  },\n  \"items\":
        [\n    {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"ijbeIZJCyPa8e0I_UAHjuh6eoL8\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"flXvU9gCNjE\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2022-11-07T20:00:10Z\",\n        \"channelId\": \"UCBR8-60-B28hp2BmDPdntcQ\",\n
        \       \"title\": \"@Alex Faction&#39;s got a darker dark mode vibe \U0001F5A4\",\n
        \       \"description\": \"introducing darker dark mode, which adds a bit
        more personality to your videos. just ask@Alex Faction.\",\n        \"thumbnails\":
        {\n          \"default\": {\n            \"url\": \"https://i.ytimg.com/vi/flXvU9gCNjE/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          },\n          \"medium\":
        {\n            \"url\": \"https://i.ytimg.com/vi/flXvU9gCNjE/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/flXvU9gCNjE/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          }\n        },\n
        \       \"channelTitle\": \"YouTube\",\n        \"liveBroadcastContent\":
        \"none\",\n        \"publishTime\": \"2022-11-07T20:00:10Z\"\n      }\n    },\n
        \   {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"acNbEHOgvggOcxftywPje5LtTwM\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"ICH7aSnIyhM\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2022-11-04T19:00:14Z\",\n        \"channelId\": \"UCBR8-60-B28hp2BmDPdntcQ\",\n
        \       \"title\": \"@Brandon B says bye to sharp corners \U0001FA79\",\n
        [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=flXvU9gCNjE,ICH7aSnIyhM,R_fZjGm2OrM,bOSswUdDOSM,URjmlFT5Nog,fFHmNynM0FM,mI6SM1YJ8mY,pwDfIKjTeKI,qerjWwgxXYo,I5wBZrZ1SUI,1SNKBK0mhYU,ChevpgiwJy8,WmkUeVpwb7s,MmFR94yj3D8,gwWSLRTI4sU,IC_eDufriG0,17Yfi-8q08M,NAHmml0Zi70,66xX4bcNtY4,h6TrvCV3NdU,ImMrUgl4Uws,Ufmb_pu6xOE,V_K8ZTkrfMI,CFmkT0tUZ3k,sEX5Sms3Ua0,Fb4AtlHKz8c,WGdiblTHG7M,9nXpWUlPM0c,X_n5muEMct0,5tN33kb67z4,JInfDec0frg,iiMpdwr5-Qo,O5PuFu3_iy0,vcBWe3bo514,oT1f39lg[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videoCategories?id=22,24&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoCategoryListResponse",
          "etag": "lwBBbwj9Yvjo9ZsKHxAwE2fiQOs",
          "items": [
            {
              "kind": "youtube#videoCategory",
              "etag": "cHDaaqPDZsJT1FPr1-MwtyIhR28",
              "id": "22",
              "snippet": {
                "title": "People & Blogs",
                "assignable": true,
                "channelId": "UCBR8-60-B28hp2BmDPdntcQ"
              }
            },
            {
              "kind": "youtube#videoCategory",
              "etag": "0srcLUqQzO7-NGLF7QnhdVzJQmY",
              "id": "24",
              "snippet": {
                "title": "Entertainment",
                "assignable": true,
                "channelId": "UCBR8-60-B28hp2BmDPdntcQ"
              }
            }
          ]
        }
  recorded_at: Sun, 13 Nov 2022 04:58:31 GMT
recorded_with: VCR 6.1.0
