---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/yt-analytics.readonly https://www.googleapis.com/auth/yt-analytics-monetary.readonly openid https://www.googleapis.com/auth/youtubepartner",
          "token_type": "Bearer",
          "id_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6ImQ4ZWZlYTFmNjZlODdiYjM2YzJlYTA5ZDgzNzMzOGJkZDgxMDM1M2IiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJhY2NvdW50cy5nb29nbGUuY29tIiwiYXpwIjoiNTkxMjM2NTA0ODQ2LTlsbGZjajJwNDcwZGlmcW5kaHNxZzJ1MWZ0ajRqNzM2LmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tIiwiYXVkIjoiNTkxMjM2NTA0ODQ2LTlsbGZjajJwNDcwZGlmcW5kaHNxZzJ1MWZ0ajRqNzM2LmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tIiwic3ViIjoiMTAzMDc3NzAwNDU1OTkyNzEzMjQzIiwiaGQiOiJmdWxsc2NyZWVuLmNvbSIsImVtYWlsIjoiZGVyZWsuYmFybmVzQGZ1bGxzY3JlZW4uY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImF0X2hhc2giOiJWVzRUZndfdDNiMWFxUHZnSlhKUmFnIiwiaWF0IjoxNTgwOTcyNzI4LCJleHAiOjE1ODA5NzYzMjh9.quOXbigozzGNh8DLPass2WbBnBJ1Sae9sZ0QMHRYW-Yhi2HmL65MnFJreHKe4OHYYXN5-ebIKzYZjUhesvc4plDs1M_QkbzEEd_X-ayNT7JxwpbUBYeYMJGmL6ORvQ_BayzUIFZikvTJ0yBBXJ22NlaBmXwxTMhxByeSDDt4RBIfvWARgkwTl66D3VleNlNyBpMMtsw4fovQBZbN0Vpso9IiGIgu_n2G41v0_gnFSGrYtUU6m3pAcE7htwi6SmzMJxswep8dSseRUM9IdniDNvJ-tJHkecPkrnY2Ftj3rOjLAo-Np-yfDB51-F2Y1G3D-h3AwtPCF9AtQHul-fcARQ"
        }
  recorded_at: Thu, 06 Feb 2020 07:05:28 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCBR8-60-B28hp2BmDPdntcQ&maxResults=50&order=date&part=snippet&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/GLB5sJW_iA0Wem_hiz6QkznQepE"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/GLB5sJW_iA0Wem_hiz6QkznQepE\"",
         "nextPageToken": "CDIQAA",
         "regionCode": "US",
         "pageInfo": {
          "totalResults": 327,
          "resultsPerPage": 50
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/42sXHGb4RnmOKEMkoABTAEYldJw\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "2lAe1cqCOXo"
           },
           "snippet": {
            "publishedAt": "2019-12-05T18:00:14.000Z",
            "channelId": "UCBR8-60-B28hp2BmDPdntcQ",
            "title": "YouTube Rewind 2019: For the Record | #YouTubeRewind",
            "description": "In 2018, we made something you didn't like. For Rewind 2019, let's see what you DID like. Celebrating the creators, music and moments that mattered most to ...",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/2lAe1cqCOXo/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/2lAe1cqCOXo/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/2lAe1cqCOXo/hqdefault.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "YouTube",
            "liveBroadcastContent": "none"
           }
          },
          {
           "kind": "youtube#searchResult",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/Q1GxsSG_c6GD-CTJaow5ijzJat8\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "DRh_4i-GKPk"
           },
           "snippet": {
            "publishedAt": "2019-11-14T16:57:14.000Z",
            "channelId": "UCBR8-60-B28hp2BmDPdntcQ",
            "title": "On The Clock | #YouTubeBlack 2019",
            "description": "What[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=2lAe1cqCOXo,DRh_4i-GKPk,dy6Hj0Kk-CA,B3MDJsggfDg,0jRX0xq24AU,GBaGHP_UuLI,t67_zAg5vvI,9OGifSqcMso,iF3VMaCdOpo,CMYM0Yc07WE,kbO2PR9guUU,BLc2hdgXkEs,1YQOS3PcBGc,HkZD4lgKPX8,RkYQQK-w2Lg,ze_f9ljGess,0T51c1kprZg,EkPCzwZ_x58,elllLRukQak,8qTQbk2A02M,YbJOTdZBX1g,8gE5xkyzqhs,qM-dOYiyvCA,lepYkDZ62OY,UNYX47-M7MI,rMOlZpzpYqM,WbDk6SC_SUs,r-FwYQDV29E,ewSt0_4-jNM,UgJgPtRwPWI,BjnoLtG2NKY,_6MtoR8JGTo,uY1cm-7PBes,z1zxj-axCEo,b6XApB1U[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videoCategories?id=24&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/5HKAOGVQ8IvwJVk1QTouFUv2Mtc"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoCategoryListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/5HKAOGVQ8IvwJVk1QTouFUv2Mtc\"",
         "items": [
          {
           "kind": "youtube#videoCategory",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/UVB9oxX2Bvqa_w_y3vXSLVK5E_s\"",
           "id": "24",
           "snippet": {
            "channelId": "UCBR8-60-B28hp2BmDPdntcQ",
            "title": "Entertainment",
            "assignable": true
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 07:05:29 GMT
recorded_with: VCR 5.1.0
