---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=9bZkp7q19f0&key=<YT_TEST_API_KEY>&maxResults=50&order=date&part=statistics,contentDetails&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/16NcEORZSCDAyQ4H01dLTBFg2lQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/16NcEORZSCDAyQ4H01dLTBFg2lQ\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/v6-mQTgDEv0Esr79Nt35Nk7TSWM\"",
           "id": "9bZkp7q19f0",
           "contentDetails": {
            "duration": "PT4M13S",
            "dimension": "2d",
            "definition": "hd",
            "caption": "true",
            "licensedContent": false,
            "projection": "rectangular"
           },
           "statistics": {
            "viewCount": "3507573655",
            "likeCount": "17078355",
            "dislikeCount": "2311006",
            "favoriteCount": "0",
            "commentCount": "4998214"
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 02:11:16 GMT
recorded_with: VCR 5.1.0
