---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/yt-analytics-monetary.readonly https://www.googleapis.com/auth/yt-analytics.readonly https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/youtubepartner openid",
          "token_type": "Bearer",
          "id_token": "<YT_TEST_ID_TOKEN>"
        }
  recorded_at: Thu, 06 Feb 2020 07:18:24 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?maxResults=50&part=snippet,status&playlistId=PLpjK416fmKwQlQ0KvTWFmXZZa3d4IO2ro
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/lyBlW2TyyKg2B8eGUzPL5L5Kw5I"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"kind\": \"youtube#playlistItemListResponse\",\n \"etag\": \"\\\"Fznwjl6JEQdo1MGvHOGaz_YanRU/lyBlW2TyyKg2B8eGUzPL5L5Kw5I\\\"\",\n
        \"nextPageToken\": \"CDIQAA\",\n \"pageInfo\": {\n  \"totalResults\": 67,\n
        \ \"resultsPerPage\": 50\n },\n \"items\": [\n  {\n   \"kind\": \"youtube#playlistItem\",\n
        \  \"etag\": \"\\\"Fznwjl6JEQdo1MGvHOGaz_YanRU/XVWdtUHFbvlIc_DPaKZRK7zObow\\\"\",\n
        \  \"id\": \"UExwaks0MTZmbUt3UWxRMEt2VFdGbVhaWmEzZDRJTzJyby40NTBGRDE5MDg2Q0NEODI4\",\n
        \  \"snippet\": {\n    \"publishedAt\": \"2020-01-30T18:20:58.000Z\",\n    \"channelId\":
        \"UCkRfArvrzheW2E7b6SVT7vQ\",\n    \"title\": \"Gaming Channel Must Knows
        | Channel Checkup ft. Alyska\",\n    \"description\": \"Want to know what
        a typical meeting with a Partner Manager is like? The goal of Channel Checkup
        is to show you how you can analyze your own channel by taking you through
        a typical meeting with a Partner Manager. In this video, YouTube Strategist
        Sarah sits down with YouTube Creator Alyska to discuss gaming best practices,
        and to answer some of Alyce's questions. Hear Sarah's advice around gaming
        channel names, titles and thumbnails, and more! Consider how you can take
        some of these insights and apply them back to your own channel!\\n\\nCheck
        out Alyska's channel: https://www.youtube.com/alyska\\n\\nSubscribe and hit
        the bell to see a new video each Tuesday: https://goo.gl/So4XIG\\n\\n► Level
        up your YouTube skills with Creator Academy lessons: https://goo.gl/1P8bT4\\n►
        See index of all lessons: https://goo.gl/x2h1NG\\n► Get step-by-step instructions:
        https://goo.gl/fBzr7\",\n    \"thumbnails\": {\n     \"default\": {\n      \"url\":
        \"https://i.ytimg.com/vi/QVVk3tnrVmQ/default.jpg\",\n      \"width\": 120,\n
        \     \"height\": 90\n     },\n     \"medium\": {\n      \"url\": \"https://i.ytimg.com/vi/QVVk3tnrVmQ/mqdefault.jpg\",\n
        \     \"width\": 320,\n      \"height\": 180\n     },\n     \"high\": {\n
        \     \"url\": \"https://i.ytimg.com/vi/QVVk3tnrVmQ/hqdefault.jpg\",\n      \"width\":
        480,\n      \"height\": 360\n     },\n     \"standard\": {\n      \"url\":
        \"https://i.ytimg.com/vi/QVVk3tnrVmQ/sddefault.jpg\",\n      \"width\": 640,\n
        \     \"height\": 480\n     },\n     \"maxres\": {\n      \"url\": \"https://i.ytimg.com/vi/QVVk3tnrVmQ/maxresdefault.jpg\",\n
        \     \"width\": 1280,\n      \"height\": 720\n     }\n    },\n    \"channelTitle\":
        \"YouTube Creators\",\n    \"playlistId\": \"PLpjK416fmKwQlQ0KvTWFmXZZa3d4IO2ro\",\n
        \   \"position\": 0,\n    \"resourceId\": {\n     \"kind\": \"youtube#video\",\n
        \    \"videoId\": \"QVVk3tnrVmQ\"\n    }\n   },\n   \"status\": {\n    \"privacyStatus\":
        \"public\"\n   }\n  },\n  {\n   \"kind\": \"youtube#playlistItem\",\n   \"etag\":
        \"\\\"Fznwjl6JEQdo1MGvHOGaz_YanRU/8pyrJyhwHVjdBTq1DbiJ6InbwYo\\\"\",\n   \"id\":
        \"UExwaks0MTZmbUt3UWxRMEt2VFdGbVhaWmEzZDRJTzJyby42NjBGMkRFNDcwMjM2NzYx\",\n
        \  \"snippet\": {\n    \"publishedAt\": \"2020-01-27T18:05:03.000Z\",\n    \"channelId\":
        \"UCkRfArvrzheW2E7b6SVT7vQ\",\n    \"title\": \"YouTube Gaming: The Year Ahead\",\n
        \   \"description\": \"We’ve been work[...]
