---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?id=z13kc1bxpp22hzaxr04cd1kreurbjja41q00k&key=<YT_TEST_API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/8RWbXc8lYwHJ0K-JlYhCFsoNZS4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#commentListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/8RWbXc8lYwHJ0K-JlYhCFsoNZS4\"",
         "items": [
          {
           "kind": "youtube#comment",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/tOGyEKpzlZgeZMt2P8xm8kkuQuQ\"",
           "id": "Ugi3N3wihqfAYHgCoAEC",
           "snippet": {
            "authorDisplayName": "BLACKPINK IS THE REVOLUTION",
            "authorProfileImageUrl": "https://yt3.ggpht.com/a/AGF-l78K3xj2Qq0FlRWZyEVjjBFO9jijAROojqr0-Q=s48-c-k-c0xffffffff-no-rj-mo",
            "authorChannelUrl": "http://www.youtube.com/channel/UC7UWbTIsBs7riVyNir-Qfbw",
            "authorChannelId": {
             "value": "UC7UWbTIsBs7riVyNir-Qfbw"
            },
            "textDisplay": "Those people... are actors... right?..",
            "textOriginal": "Those people... are actors... right?..",
            "canRate": true,
            "viewerRating": "none",
            "likeCount": 0,
            "publishedAt": "2016-03-22T20:10:55.000Z",
            "updatedAt": "2016-03-22T20:10:55.000Z"
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 02:07:43 GMT
recorded_with: VCR 5.1.0
