---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCxO1tY8h1AhOz0T4ENwmpow&key=<YT_TEST_API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/Y1fxjNIIHzdLnsClKCsQuyBnQPg"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#channelListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/Y1fxjNIIHzdLnsClKCsQuyBnQPg\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#channel",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/vGbrrwfY3gKM_MNJtuAnDBLDz-E\"",
           "id": "UCxO1tY8h1AhOz0T4ENwmpow",
           "snippet": {
            "title": "FullscreenMedia",
            "description": "In collaboration with the world’s leading talent and brands, we create content differently. Our network, our technology, and our services change the way content is produced, distributed, and consumed by more than 600 million massively engaged subscribers. We're headquartered in L.A. and were founded in January 2011 by CEO George Strompolos, a co-creator of YouTube's Partner Program.",
            "publishedAt": "2006-03-23T06:13:25.000Z",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/a/AGF-l7_JaB6GKjxB73KAmytP5zNfQL4REfZvk5vEyA=s88-c-k-c0xffffffff-no-rj-mo",
              "width": 88,
              "height": 88
             },
             "medium": {
              "url": "https://yt3.ggpht.com/a/AGF-l7_JaB6GKjxB73KAmytP5zNfQL4REfZvk5vEyA=s240-c-k-c0xffffffff-no-rj-mo",
              "width": 240,
              "height": 240
             },
             "high": {
              "url": "https://yt3.ggpht.com/a/AGF-l7_JaB6GKjxB73KAmytP5zNfQL4REfZvk5vEyA=s800-c-k-c0xffffffff-no-rj-mo",
              "width": 800,
              "height": 800
             }
            },
            "localized": {
             "title": "FullscreenMedia",
             "description": "In collaboration with the world’s leading talent and brands, we create content differently. Our network, our technology, and our services change the way content is produced, distributed, and consumed by more than 600 million massively engaged subscribers. We're headquartered in L.A. and were founded in January 2011 by CEO George Strompolos, a co-creator of YouTube's Partner Program."
            },
            "country": "US"
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 02:11:07 GMT
recorded_with: VCR 5.1.0
