---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=not-a-video-id&key=<YT_TEST_API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/Rk41fm-2TD0VG1yv0-bkUvcBi9s"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/Rk41fm-2TD0VG1yv0-bkUvcBi9s\"",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 0
         },
         "items": []
        }
  recorded_at: Thu, 06 Feb 2020 02:11:14 GMT
recorded_with: VCR 5.1.0
