---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/yt-analytics-monetary.readonly https://www.googleapis.com/auth/youtubepartner https://www.googleapis.com/auth/yt-analytics.readonly https://www.googleapis.com/auth/userinfo.email openid",
          "token_type": "Bearer",
          "id_token": "<YT_TEST_ID_TOKEN>"
        }
  recorded_at: Thu, 06 Feb 2020 07:13:10 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?forMine=true&maxResults=50&order=date&part=snippet&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/1e1oD95etRYqwMq-gx-iPtGooOo"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/1e1oD95etRYqwMq-gx-iPtGooOo\"",
         "nextPageToken": "Cib3-7Fupf____9DU25YQm51N3FqQQD_Af_-Q1NuWEJudTdxakEAARATIdZeR03mYiWvOQAAAABakU4ESAFQAloLCdyYTEyx7Y59EANgweWfPQ==",
         "pageInfo": {
          "totalResults": 19,
          "resultsPerPage": 50
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/3Cj6C6f2z5PEHZb2lhNoRIZ2sAQ\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "8wlRAYdb9l0"
           },
           "snippet": {
            "publishedAt": "2019-10-11T17:05:11.000Z",
            "channelId": "UCAmh1DexLGcMtDlzMCIxo4w",
            "title": "Claim Bugs",
            "description": "",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/8wlRAYdb9l0/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/8wlRAYdb9l0/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/8wlRAYdb9l0/hqdefault.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "Derek Barnes",
            "liveBroadcastContent": "none"
           }
          },
          {
           "kind": "youtube#searchResult",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/Lg5r8WsGdRf5rHqJ7gFNljaP0wk\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "j3vkdVJj7d0"
           },
           "snippet": {
            "publishedAt": "2019-10-11T16:53:01.000Z",
            "channelId": "UCAmh1DexLGcMtDlzMCIxo4w",
            "title": "Descriptive Search Deletion Bug",
            "description": "",
   [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=8wlRAYdb9l0,j3vkdVJj7d0,lBgoO8A_25s,dNJSu6_AURs,ktcaWyMHQ80,zNJNnfuHfAc,d4zb-v9Q8FY,Ed4jZpmKLFs,2uHOlkdxT0o,B9lEC_cXZMQ,mio1RltQdw4,aDOSywmphtY,CSnXBnu7qjA&maxResults=50&order=date&part=snippet&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwj[...]
