---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<YT_TEST_API_KEY>&maxResults=100&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "youtube.parameter",
            "reason": "missingRequiredParameter",
            "message": "No filter selected. Expected one of: id, idParam, channelId, videoId, allThreadsRelatedToChannelId",
            "locationType": "parameter",
            "location": ""
           }
          ],
          "code": 400,
          "message": "No filter selected. Expected one of: id, idParam, channelId, videoId, allThreadsRelatedToChannelId"
         }
        }
  recorded_at: Thu, 06 Feb 2020 02:09:24 GMT
recorded_with: VCR 5.1.0
