---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<YT_TEST_API_KEY>&maxResults=100&part=snippet&videoId=MsplPPW7tFo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/Wi_SpVnmenuYIw6fImhCEs7QKvA"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"kind\": \"youtube#commentThreadListResponse\",\n \"etag\": \"\\\"Fznwjl6JEQdo1MGvHOGaz_YanRU/Wi_SpVnmenuYIw6fImhCEs7QKvA\\\"\",\n
        \"nextPageToken\": \"QURTSl9pMjVZRE11XzM4dWZ1eTNLT0lLd2ZtSkZiNXFlQ2dCTHJHWXF3d3pVejByR0p3UmZ5aFV1LVlIdTBqWS01YTFOSXQ0MDJIMGdRTTFReDVVNGFLUGljVW5iSDBZVWktSWJqOUlPN3FxZ3BtTTN1THh3SllrUVBpZjc4THR3VW8=\",\n
        \"pageInfo\": {\n  \"totalResults\": 100,\n  \"resultsPerPage\": 100\n },\n
        \"items\": [\n  {\n   \"kind\": \"youtube#commentThread\",\n   \"etag\": \"\\\"Fznwjl6JEQdo1MGvHOGaz_YanRU/ZcEiJLdyWPMp1A9Cr-kEN6OBy7U\\\"\",\n
        \  \"id\": \"UgyhNHq2KhSy1MePV8h4AaABAg\",\n   \"snippet\": {\n    \"videoId\":
        \"MsplPPW7tFo\",\n    \"topLevelComment\": {\n     \"kind\": \"youtube#comment\",\n
        \    \"etag\": \"\\\"Fznwjl6JEQdo1MGvHOGaz_YanRU/8H7gzPmminLBiitHLejYC8Tj_FM\\\"\",\n
        \    \"id\": \"UgyhNHq2KhSy1MePV8h4AaABAg\",\n     \"snippet\": {\n      \"authorDisplayName\":
        \"funny polarbear\",\n      \"authorProfileImageUrl\": \"https://yt3.ggpht.com/a/AGF-l79t4wX2Drxd7U0wpzSAGrVeDohraIahils_OQ=s48-c-k-c0xffffffff-no-rj-mo\",\n
        \     \"authorChannelUrl\": \"http://www.youtube.com/channel/UCEtndKmodQ-VNA5L_SLi7NQ\",\n
        \     \"authorChannelId\": {\n       \"value\": \"UCEtndKmodQ-VNA5L_SLi7NQ\"\n
        \     },\n      \"videoId\": \"MsplPPW7tFo\",\n      \"textDisplay\": \"no
        wonder he took a break from yt\",\n      \"textOriginal\": \"no wonder he
        took a break from yt\",\n      \"canRate\": true,\n      \"viewerRating\":
        \"none\",\n      \"likeCount\": 0,\n      \"publishedAt\": \"2020-02-06T01:41:43.000Z\",\n
        \     \"updatedAt\": \"2020-02-06T01:41:43.000Z\"\n     }\n    },\n    \"canReply\":
        true,\n    \"totalReplyCount\": 0,\n    \"isPublic\": true\n   }\n  },\n  {\n
        \  \"kind\": \"youtube#commentThread\",\n   \"etag\": \"\\\"Fznwjl6JEQdo1MGvHOGaz_YanRU/sQZ2VWSaYB0UxRSkyr-nEVPP5e0\\\"\",\n
        \  \"id\": \"Ugx4VwV3pkePSHjE2794AaABAg\",\n   \"snippet\": {\n    \"videoId\":
        \"MsplPPW7tFo\",\n    \"topLevelComment\": {\n     \"kind\": \"youtube#comment\",\n
        \    \"etag\": \"\\\"Fznwjl6JEQdo1MGvHOGaz_YanRU/Z1h1abBRP8MtNSEmc6PCGuK_dHA\\\"\",\n
        \    \"id\": \"Ugx4VwV3pkePSHjE2794AaABAg\",\n     \"snippet[...]
