---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?id=z13zytsilxbexh30e233gdyyttngfjfz104&key=<YT_TEST_API_KEY>&maxResults=100&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/yXikmtvJkdCtqPEBogFQABEb_FY"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#commentThreadListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/yXikmtvJkdCtqPEBogFQABEb_FY\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 100
         },
         "items": [
          {
           "kind": "youtube#commentThread",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/xsbS3zENy7jDJiMJHez4XKHBDr0\"",
           "id": "UggKGVqumjh2f3gCoAEC",
           "snippet": {
            "videoId": "MsplPPW7tFo",
            "topLevelComment": {
             "kind": "youtube#comment",
             "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/YbC_mGUwMAHSjnhB7155B8foVLU\"",
             "id": "UggKGVqumjh2f3gCoAEC",
             "snippet": {
              "authorDisplayName": "Qiang Han",
              "authorProfileImageUrl": "https://yt3.ggpht.com/a/AGF-l7_n2fKmTNl8JlGFuUChmVIhoXryBPmlkiTueQ=s48-c-k-c0xffffffff-no-rj-mo",
              "authorChannelUrl": "http://www.youtube.com/channel/UCoGCVuCyAUStbVJ9QMwPeGw",
              "authorChannelId": {
               "value": "UCoGCVuCyAUStbVJ9QMwPeGw"
              },
              "videoId": "MsplPPW7tFo",
              "textDisplay": "Curious... people watch this because he is a pretty looking guy?",
              "textOriginal": "Curious... people watch this because he is a pretty looking guy?",
              "canRate": true,
              "viewerRating": "none",
              "likeCount": 0,
              "publishedAt": "2016-03-25T07:41:25.000Z",
              "updatedAt": "2016-03-25T07:41:25.000Z"
             }
            },
            "canReply": true,
            "totalReplyCount": 0,
            "isPublic": true
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 02:09:24 GMT
recorded_with: VCR 5.1.0
