<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
      <div class="container">
        <div class="row">
          <div class="hidden-xs hidden-print col-sm-3" role="complementary">
            <ol start="0" class="sidebar" data-spy="affix">
              {% if page.url == '/index.html' %}
                <li><a href="{{ site.baseurl }}/index.html" class="active">Installing Yt</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/index.html">Installing Yt</a></li>
              {% endif %}
              {% if page.url == '/videos.html' %}
                <li><a href="{{ site.baseurl }}/videos.html" class="active">Videos</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/videos.html">Videos</a></li>
              {% endif %}
              {% if page.url == '/channels.html' %}
                <li><a href="{{ site.baseurl }}/channels.html" class="active">Channels</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/channels.html">Channels</a></li>
              {% endif %}
              {% if page.url == '/comments.html' %}
                <li><a href="{{ site.baseurl }}/comments.html" class="active">Comments</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/comments.html">Comments</a></li>
              {% endif %}
              {% if page.url == '/playlists.html' %}
                <li><a href="{{ site.baseurl }}/playlists.html" class="active">Playlists</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/playlists.html">Playlists</a></li>
              {% endif %}
              {% if page.url == '/playlist_items.html' %}
                <li><a href="{{ site.baseurl }}/playlist_items.html" class="active">Playlist Items</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/playlist_items.html">Playlist Items</a></li>
              {% endif %}
              {% if page.url == '/accounts.html' %}
                <li><a href="{{ site.baseurl }}/accounts.html" class="active">Accounts</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/accounts.html">Accounts</a></li>
              {% endif %}
              {% if page.url == '/annotations.html' %}
                <li><a href="{{ site.baseurl }}/annotations.html" class="active">Annotations</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/annotations.html">Annotations</a></li>
              {% endif %}
            </ol>

          </div>
          <div class="col-xs-12 col-sm-9" role="main">
            <h2>{{ page.h2 }}</h2>
            {{ content }}
          </div>
        </div>
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
