---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/youtube.upload https://www.googleapis.com/auth/youtube.readonly https://www.googleapis.com/auth/youtube",
          "token_type": "Bearer"
        }
  recorded_at: Sun, 13 Nov 2022 04:58:01 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?channelId=UCBR8-60-B28hp2BmDPdntcQ&maxResults=50&part=snippet,status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#playlistListResponse",
          "etag": "O3cDk4fogqs3hTX7QXXLeEQEQBc",
          "nextPageToken": "CDIQAA",
          "pageInfo": {
            "totalResults": 2546,
            "resultsPerPage": 50
          },
          "items": [
            {
              "kind": "youtube#playlist",
              "etag": "Am4O80zUGW3dgjIsv-sLco0Ui60",
              "id": "PLbpi6ZahtOH4XfjbojCDm9fMYxFeC_2rU",
              "snippet": {
                "publishedAt": "2022-09-29T14:32:56Z",
                "channelId": "UCBR8-60-B28hp2BmDPdntcQ",
                "title": "Bringing art to life",
                "description": "See how creators are building rich worlds through the art form of animatics this International Animation Day.",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/fvtxgkC-oz8/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/fvtxgkC-oz8/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/fvtxgkC-oz8/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  },
                  "standard": {
                    "url": "https://i.ytimg.com/vi/fvtxgkC-oz8/sddefault.jpg",
                    "width": 640,
                    "height": 480
                  },
                  "maxres": {
                    "url": "https://i.ytimg.com/vi/fvtxgkC-oz8/maxresdefault.jpg",
                    "width": 1280,
                    "height": 720
                  }
                },
                "channelTitle": "YouTube",
                "localized": {
                  "title": "Bringing art to life",
                  "description": "See how creators are building rich worlds through the art form of animatics this International Animation Day."
                }
              },
              "status": {
                "privacyStatus": "public"
              }
            },
            {
              "kind": "youtube#playlist",
              "etag": "dKiAs6HJmrUam7AHd6K29TgMWsA",
              "id": "PLbpi6ZahtOH5WB6TwnO2IH33sX_sczMzp",
              "snippet": {
                "publishedAt": "2022-09-16T20:33:08Z",
                "channelId": "UCBR8-60-B28hp2BmDPdntcQ",
                "title": "Take A Deep Breath",
                "description": "Experience a morning reset or evening wind-down through guided meditation [...]
