---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/yt-analytics-monetary.readonly https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/youtubepartner https://www.googleapis.com/auth/yt-analytics.readonly openid",
          "token_type": "Bearer",
          "id_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6ImQ4ZWZlYTFmNjZlODdiYjM2YzJlYTA5ZDgzNzMzOGJkZDgxMDM1M2IiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJhY2NvdW50cy5nb29nbGUuY29tIiwiYXpwIjoiNTkxMjM2NTA0ODQ2LTlsbGZjajJwNDcwZGlmcW5kaHNxZzJ1MWZ0ajRqNzM2LmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tIiwiYXVkIjoiNTkxMjM2NTA0ODQ2LTlsbGZjajJwNDcwZGlmcW5kaHNxZzJ1MWZ0ajRqNzM2LmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tIiwic3ViIjoiMTAzMDc3NzAwNDU1OTkyNzEzMjQzIiwiaGQiOiJmdWxsc2NyZWVuLmNvbSIsImVtYWlsIjoiZGVyZWsuYmFybmVzQGZ1bGxzY3JlZW4uY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImF0X2hhc2giOiIxZkJFdkZ1Ti16ZnR0TmNyVVhjZzRnIiwiaWF0IjoxNTgwOTcyNzIwLCJleHAiOjE1ODA5NzYzMjB9.aYzclAqgMoRrlssNyrKjm5YXG7zuM6SKLDgCgPZ8jwdNPWHtoyNHuTtayJs4qNBpXm2NBvvOIPfIWK4V-er2RAcoe8NdPKecvvYQRE2hjJ1BlNFJw_erNDsyfkgyP6TS1h2HcUFYe6mkfs8oScFxAVUO7j4rrRvAggrXYLpqb6pbdMyUw9Kbx6WmYpQm_gZBP8JS9I4D8Z0vEaVDF5XP82QQa5u9lhAxMy-L_aRwAx2W-vpxl_ca0Y0pOeNEaNFpgo0gyPG6IiAoFm3Dz33KDYExLcZCGMo8wggbMIf22AMx2QZZxwNLZ_zdWQmNBoP9_uQ8Sw-02Wrz759IHcosPg"
        }
  recorded_at: Thu, 06 Feb 2020 07:05:20 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCBR8-60-B28hp2BmDPdntcQ&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/nB0abiUqjXitmV8_aIddTxvJMcY"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#channelListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/nB0abiUqjXitmV8_aIddTxvJMcY\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#channel",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/LVNe40kfdSVo21DP4mUWQfTVQVk\"",
           "id": "UCBR8-60-B28hp2BmDPdntcQ",
           "snippet": {
            "title": "YouTube",
            "description": "Welcome to YouTube's Spotlight channel, your daily go-to for discovering what's new and trending around the world. From music to culture to Internet phenomena, find those gotta-watch videos from across YouTube, all in one place.",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/a/AGF-l79Dpy9yGG-j3hTwtQiN3iXRVaC0UHu2cgSUvQ=s88-c-k-c0xffffffff-no-rj-mo",
              "width": 88,
              "height": 88
             },
             "medium": {
              "url": "https://yt3.ggpht.com/a/AGF-l79Dpy9yGG-j3hTwtQiN3iXRVaC0UHu2cgSUvQ=s240-c-k-c0xffffffff-no-rj-mo",
              "width": 240,
              "height": 240
             },
             "high": {
              "url": "https://yt3.ggpht.com/a/AGF-l79Dpy9yGG-j3hTwtQiN3iXRVaC0UHu2cgSUvQ=s800-c-k-c0xffffffff-no-rj-mo",
              "width": 800,
              "height": 800
             }
            },
            "localized": {
             "title": "YouTube",
             "description": "Welcome to YouTube's Spotlight channel, your daily go-to for discovering what's new and trending around the world. From music to culture to Internet phenomena, find those gotta-watch videos from across YouTube, all in one place."
            },
            "country": "US"
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 07:05:20 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCBR8-60-B28hp2BmDPdntcQ&part=status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/7jaOKSCX6hitqaQNEvwEa1cSNHc"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#channelListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/7jaOKSCX6hitqaQNEvwEa1cSNHc\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#channel",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/4mIDRFlOvvlIFiBUXDoYgJRngYU\"",
           "id": "UCBR8-60-B28hp2BmDPdntcQ",
           "status": {
            "privacyStatus": "public",
            "isLinked": true,
            "longUploadsStatus": "longUploadsUnspecified"
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 07:05:20 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCBR8-60-B28hp2BmDPdntcQ&maxResults=50&part=statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/Fn4-pqNTDEluNNQcY8zxGgUdPSY"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#channelListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/Fn4-pqNTDEluNNQcY8zxGgUdPSY\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#channel",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/fa6GIJP93Py0UFqKC1gXb-_goJ0\"",
           "id": "UCBR8-60-B28hp2BmDPdntcQ",
           "statistics": {
            "viewCount": "2031442907",
            "commentCount": "0",
            "subscriberCount": "29500000",
            "hiddenSubscriberCount": false,
            "videoCount": "308"
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 07:05:20 GMT
recorded_with: VCR 5.1.0
