---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "openid https://www.googleapis.com/auth/yt-analytics-monetary.readonly https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/youtubepartner https://www.googleapis.com/auth/yt-analytics.readonly",
          "token_type": "Bearer",
          "id_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6ImQ4ZWZlYTFmNjZlODdiYjM2YzJlYTA5ZDgzNzMzOGJkZDgxMDM1M2IiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJhY2NvdW50cy5nb29nbGUuY29tIiwiYXpwIjoiNTkxMjM2NTA0ODQ2LTlsbGZjajJwNDcwZGlmcW5kaHNxZzJ1MWZ0ajRqNzM2LmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tIiwiYXVkIjoiNTkxMjM2NTA0ODQ2LTlsbGZjajJwNDcwZGlmcW5kaHNxZzJ1MWZ0ajRqNzM2LmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tIiwic3ViIjoiMTAzMDc3NzAwNDU1OTkyNzEzMjQzIiwiaGQiOiJmdWxsc2NyZWVuLmNvbSIsImVtYWlsIjoiZGVyZWsuYmFybmVzQGZ1bGxzY3JlZW4uY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImF0X2hhc2giOiJfSk05U2xPLWNXTVFFaENiQ29tRHhRIiwiaWF0IjoxNTgwOTcyNzIyLCJleHAiOjE1ODA5NzYzMjJ9.iTG0RiPx4l5KRgQ2FbRZ6aJxh5kUOREBpQ71-lKSv78QlKqlpPqP1-bXgXNp-yD85fPPVHEpIedgPhKR7qePaqGSrr35qMZdu5WJLVjiFeYw2Vihfm2_qronxupdyJUNhnShfr6YDtfvApbJ1QRZzdesjgdPNCgJ8eQFAtbP2vE3qarFVLsTk315M-InuA23FOkOHO6G9Db2Q48z6Sgbg4h7y9Ue2Rbm6ZvPQPj3pi9k9tuoT-DaaqkNc6C3XYC_ICoM-Hl4mCjqU8KAgjs2V7nBPAcjlpA7kjlVaVk0qdEYHT-7g_tQvc5GBvU-0gGgrDsIycJRh7nXAYNw9miy0w"
        }
  recorded_at: Thu, 06 Feb 2020 07:05:22 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/subscriptions?channelId=UCBR8-60-B28hp2BmDPdntcQ&maxResults=50&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/LSqQOx5GarvRdkO83aVwAtsKZg0"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"kind\": \"youtube#subscriptionListResponse\",\n \"etag\": \"\\\"Fznwjl6JEQdo1MGvHOGaz_YanRU/LSqQOx5GarvRdkO83aVwAtsKZg0\\\"\",\n
        \"pageInfo\": {\n  \"totalResults\": 33,\n  \"resultsPerPage\": 50\n },\n
        \"items\": [\n  {\n   \"kind\": \"youtube#subscription\",\n   \"etag\": \"\\\"Fznwjl6JEQdo1MGvHOGaz_YanRU/aWcQPcSoVqEHLS5L0hQ37ecHj0o\\\"\",\n
        \  \"id\": \"bjf2xQvIxvbotExSpFhtUQOjAVPMby1-20J4zqEE1-8\",\n   \"snippet\":
        {\n    \"publishedAt\": \"1970-01-01T00:00:00.000Z\",\n    \"title\": \"Sports\",\n
        \   \"description\": \"Sport includes all forms of competitive physical activity
        or games which, through casual or organised participation, at least in part
        aim to use, maintain or improve physical ability and skills while providing
        enjoyment to participants, and in some cases, entertainment for spectators.
        Hundreds of sports exist, from those between single contestants, through to
        those with hundreds of simultaneous participants, either in teams or competing
        as individuals. In certain sports such as racing, many contestants may compete,
        simultaneously or consecutively, with one winner; in others, the contest is
        between two sides, each attempting to exceed the other. Some sports allow
        a \\\"tie\\\" or \\\"draw\\\", in which there is no single winner; others
        provide tie-breaking methods to ensure one winner and one loser. A number
        of contests may be arranged in a tournament producing a champion. Many sports
        leagues make an annual champion by...\\nThis channel was generated automatically
        by YouTube's video discovery system.\",\n    \"resourceId\": {\n     \"kind\":
        \"youtube#channel\",\n     \"channelId\": \"UCEgdi0XIXXZ-qJOFPf4JSKw\"\n    },\n
        \   \"channelId\": \"UCBR8-60-B28hp2BmDPdntcQ\",\n    \"thumbnails\": {\n
        \    \"default\": {\n      \"url\": \"https://yt3.ggpht.com/-hdAXUbm-7rc/AAAAAAAAAAI/AAAAAAAAAAA/7VKn3I_QT8k/s88-c-k-no-mo-rj-c0xffffff/photo.jpg\"\n
        \    },\n     \"medium\": {\n      \"url\": \"https://yt3.ggpht.com/-hdAXUbm-7rc/AAAAAAAAAAI/AAAAAAAAAAA/7VKn3I_QT8k/s240-c-k-no-mo-rj-c0xffffff/photo.jpg\"\n
        \    },\n     \"high\": {\n      \"url\": \"https://yt3.ggpht.com/-hdAXUbm-7rc/AAAAAAAAAAI/AAAAAAAAAAA/7VKn3I_QT8k/s800-c-k-no-mo-rj-c0xffffff/photo.jpg\"\n
        \    }\n    }\n   }\n  },\n  {\n   \"kind\": \"youtube#subscription\",\n   \"etag\":
        \"\\\"Fznwjl6JEQdo1MGvHOGaz_YanRU/oZA0tjGsvPXaQ9fqVZawYWJz4A8\\\"\",\n   \"id\":
        \"bjf2xQvIxvbotExSpFhtUeFoaVWKEqeCiRHNUBU4aWQ\",\n   \"snippet\": {\n    \"publishedAt\":
        \"2013-12-13T13:59:28.000Z\",\n    \"title\": \"YouTube Rewind\",\n    \"descr[...]
