---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/yt-analytics-monetary.readonly https://www.googleapis.com/auth/youtubepartner https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/yt-analytics.readonly openid",
          "token_type": "Bearer",
          "id_token": "<YT_TEST_ID_TOKEN>"
        }
  recorded_at: Thu, 06 Feb 2020 07:13:13 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?forMine=true&maxResults=50&order=date&part=snippet&q=coffee&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/zsd3rtHFDAqV7AYgIb_Rn6br-Z8"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/zsd3rtHFDAqV7AYgIb_Rn6br-Z8\"",
         "nextPageToken": "Cib3_PbLqP____9kNHpiLXY5UThGWQD_Af_-ZDR6Yi12OVE4RlkAARABIdZeR03mYiWvOQAAAABXNAkDSAFQAloLCekqBwDWkC1_EANgzrDA4AE=",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 50
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/iUv4rEnluJKLxnMh9vxUDotVZ7A\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "d4zb-v9Q8FY"
           },
           "snippet": {
            "publishedAt": "2019-05-22T19:25:29.000Z",
            "channelId": "UCAmh1DexLGcMtDlzMCIxo4w",
            "title": "Drinking Coffee",
            "description": "",
            "thumbnails": {
             "default": {
              "url": "https://i9.ytimg.com/vi/d4zb-v9Q8FY/default.jpg?sqp=CMj37vEF&rs=AOn4CLAIsNLBPSxkqi0FYVkned0ILmJevg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i9.ytimg.com/vi/d4zb-v9Q8FY/mqdefault.jpg?sqp=CMj37vEF&rs=AOn4CLDBNd3yzUU5q3MYtj1psUll8OF8pw",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i9.ytimg.com/vi/d4zb-v9Q8FY/hqdefault.jpg?sqp=CMj37vEF&rs=AOn4CLBLDu8Fb9mdepd9UE1dJm2etYt8eQ",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "Derek Barnes",
            "liveBroadcastContent": "none"
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 07:13:13 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?forMine=true&maxResults=50&order=date&pageToken=Cib3_PbLqP____9kNHpiLXY5UThGWQD_Af_-ZDR6Yi12OVE4RlkAARABIdZeR03mYiWvOQAAAABXNAkDSAFQAloLCekqBwDWkC1_EANgzrDA4AE=&part=snippet&q=coffee&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/0mwKuTLwLIkrcIeg3jZG3ru0RcM"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/0mwKuTLwLIkrcIeg3jZG3ru0RcM\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 50
         },
         "items": []
        }
  recorded_at: Thu, 06 Feb 2020 07:13:13 GMT
recorded_with: VCR 5.1.0
