---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=<YT_TEST_API_KEY>&maxResults=50&part=snippet,status&playlistId=PLpjK416fmKwQ6Ene4GKRLICznoE1QFyt4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/mLPC5_dA_AVGwLehtraJvikmQOw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlistItemListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/mLPC5_dA_AVGwLehtraJvikmQOw\"",
         "pageInfo": {
          "totalResults": 4,
          "resultsPerPage": 50
         },
         "items": [
          {
           "kind": "youtube#playlistItem",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/zfb1zHbzMQBEjXoNeNtoUYJS9vI\"",
           "id": "UExwaks0MTZmbUt3UTZFbmU0R0tSTElDem5vRTFRRnl0NC4wOTA3OTZBNzVEMTUzOTMy",
           "snippet": {
            "publishedAt": "2019-11-21T16:04:51.000Z",
            "channelId": "UCkRfArvrzheW2E7b6SVT7vQ",
            "title": "YouTube Studio is now out of beta",
            "description": "Introducing the new YouTube Studio, your go-to spot for all things YouTube. As a creator, YouTube Studio allows you to access a new dashboard for important news, more powerful analytics with real-time metrics, comment filters, and a guided upload experience all in one place. Visit https://studio.youtube.com to check it out.\n\n► Stay up-to-date on new, exclusive features on YouTube Studio: https://support.google.com/youtube/answer/9072033\n\nSubscribe and hit the bell to see a new video each Tuesday: https://goo.gl/So4XIG",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/VKf6NF0OD5A/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/VKf6NF0OD5A/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/VKf6NF0OD5A/hqdefault.jpg",
              "width": 480,
              "height": 360
             },
             "standard": {
              "url": "https://i.ytimg.com/vi/VKf6NF0OD5A/sddefault.jpg",
              "width": 640,
              "height": 480
             },
             "maxres": {
              "url": "https://i.ytimg.com/vi/VKf6NF0OD5A/maxresdefault.jpg",
              "width": 1280,
              "height": 720
             }
            },
            "channelTitle": "YouTube Creators",
            "playlistId": "PLpjK416fmKwQ6Ene4GKRLICznoE1QFyt4",
            "position": 0,
            "resourceId": {
             "kind": "youtube#video",
             "videoId": "VKf6NF0OD5A"
            }
           },
           "status": {
            "privacyStatus": "public"
           }
          },
          {
           "kind": "youtube#playlistItem",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/giXmfWrywDq6XRaKYcto2JqSgk4\"",
           "id": "UExwaks0MTZmbUt3UTZFbmU0R0tSTElDem5vRTFRRnl0NC41NkI0NEY2RDEwNTU3Q0M2",
           "snippet": {
            "publishedAt": "2018-11-02T12:56:37.000Z",
            "channelId": "UCkRfArvrzheW2E7b6SVT7vQ",
            "title": "How to Use the New YouTube Studio",
            "description": "Get a tour of the ne[...]
