---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/yt-analytics.readonly openid https://www.googleapis.com/auth/yt-analytics-monetary.readonly https://www.googleapis.com/auth/youtubepartner",
          "token_type": "Bearer",
          "id_token": "<YT_TEST_ID_TOKEN>"
        }
  recorded_at: Wed, 12 Feb 2020 20:14:56 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=eVyohfo-I2Q&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/A69Mcrb_Gu4O7uPc_6V259xvOmM"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/A69Mcrb_Gu4O7uPc_6V259xvOmM\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/4A4azgChbnzXV2LANSliG0_a9DM\"",
           "id": "eVyohfo-I2Q",
           "snippet": {
            "publishedAt": "2020-02-12T20:05:55.000Z",
            "channelId": "UCAmh1DexLGcMtDlzMCIxo4w",
            "title": "Example Yt Test ‹ ›",
            "description": "‹ ›",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/eVyohfo-I2Q/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/eVyohfo-I2Q/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/eVyohfo-I2Q/hqdefault.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "Derek Barnes",
            "tags": [
             "‹tag›"
            ],
            "categoryId": "22",
            "liveBroadcastContent": "none",
            "localized": {
             "title": "Example Yt Test ‹ ›",
             "description": "‹ ›"
            },
            "defaultAudioLanguage": "en-US"
           }
          }
         ]
        }
  recorded_at: Wed, 12 Feb 2020 20:14:56 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=eVyohfo-I2Q&part=status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/DiZFc4DItlyHs25DQTp90rmIasU"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/DiZFc4DItlyHs25DQTp90rmIasU\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/x5ExOfR7fTRQ83D5Wli-Qw93OS0\"",
           "id": "eVyohfo-I2Q",
           "status": {
            "uploadStatus": "processed",
            "privacyStatus": "unlisted",
            "license": "youtube",
            "embeddable": false,
            "publicStatsViewable": false,
            "madeForKids": false,
            "selfDeclaredMadeForKids": false
           }
          }
         ]
        }
  recorded_at: Wed, 12 Feb 2020 20:14:56 GMT
- request:
    method: put
    uri: https://www.googleapis.com/youtube/v3/videos?part=status
    body:
      encoding: UTF-8
      string: '{"status":{"privacyStatus":"unlisted","embeddable":false,"license":"youtube","publicStatsViewable":true},"id":"eVyohfo-I2Q"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#video",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/5P70o__efAkkBl-mBl_NDoBfvw8\"",
         "id": "eVyohfo-I2Q",
         "status": {
          "uploadStatus": "processed",
          "privacyStatus": "unlisted",
          "license": "youtube",
          "embeddable": false,
          "publicStatsViewable": true,
          "selfDeclaredMadeForKids": false
         }
        }
  recorded_at: Wed, 12 Feb 2020 20:14:57 GMT
recorded_with: VCR 5.1.0
