---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/youtubepartner https://www.googleapis.com/auth/yt-analytics-monetary.readonly openid https://www.googleapis.com/auth/yt-analytics.readonly",
          "token_type": "Bearer",
          "id_token": "<YT_TEST_ID_TOKEN>"
        }
  recorded_at: Wed, 12 Feb 2020 20:46:04 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/groups?mine=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#groupListResponse",
          "items": [
            {
              "kind": "youtube#group",
              "etag": "5Waj_2vb3ZZx4sQClqfRufVv_M8",
              "id": "YWSDfr2X6-U",
              "snippet": {
                "title": "Test Video Group",
                "publishedAt": "1970-01-19T01:26:26.604Z"
              },
              "contentDetails": {
                "itemCount": "2",
                "itemType": "youtube#video"
              }
            },
            {
              "kind": "youtube#group",
              "etag": "snG-FoC17qnwDXcRVMVTiINJV5Q",
              "id": "HjJ1N5g54aU",
              "snippet": {
                "title": "Yt Test Group",
                "publishedAt": "1970-01-19T07:19:00.275Z"
              },
              "contentDetails": {
                "itemCount": "2",
                "itemType": "youtube#video"
              }
            }
          ],
          "nextPageToken": "Cg8qDVl0IFRlc3QgR3JvdXAKChClw-fB-aadmR4="
        }
  recorded_at: Wed, 12 Feb 2020 20:46:05 GMT
- request:
    method: get
    uri: https://youtubeanalytics.googleapis.com/v2/reports?endDate=2020-02-12&filters=group==YWSDfr2X6-U&ids=channel==mine&metrics=views&startDate=2005-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtubeAnalytics#resultTable",
          "columnHeaders": [
            {
              "name": "views",
              "columnType": "METRIC",
              "dataType": "INTEGER"
            }
          ],
          "rows": [
            [
              16
            ]
          ]
        }
  recorded_at: Wed, 12 Feb 2020 20:46:06 GMT
recorded_with: VCR 5.1.0
