---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/yt-analytics.readonly https://www.googleapis.com/auth/youtubepartner https://www.googleapis.com/auth/yt-analytics-monetary.readonly https://www.googleapis.com/auth/userinfo.email openid",
          "token_type": "Bearer",
          "id_token": "<YT_TEST_ID_TOKEN>"
        }
  recorded_at: Thu, 06 Feb 2020 07:13:07 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?maxResults=50&mine=true&part=snippet,status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/mrg060B-bk7cbX6J0Wn8FHEd6pc"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#channelListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/mrg060B-bk7cbX6J0Wn8FHEd6pc\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#channel",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/oIGb4qnyz6TSfmKE9O9vxBawm9M\"",
           "id": "UCAmh1DexLGcMtDlzMCIxo4w",
           "snippet": {
            "title": "Derek Barnes",
            "description": "",
            "publishedAt": "2018-08-28T00:13:02.000Z",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/a/AGF-l7_4Is2lyk1T7gOOszzreBuXkgAe50jM9SauZw=s88-c-k-c0xffffffff-no-rj-mo",
              "width": 88,
              "height": 88
             },
             "medium": {
              "url": "https://yt3.ggpht.com/a/AGF-l7_4Is2lyk1T7gOOszzreBuXkgAe50jM9SauZw=s240-c-k-c0xffffffff-no-rj-mo",
              "width": 240,
              "height": 240
             },
             "high": {
              "url": "https://yt3.ggpht.com/a/AGF-l7_4Is2lyk1T7gOOszzreBuXkgAe50jM9SauZw=s800-c-k-c0xffffffff-no-rj-mo",
              "width": 800,
              "height": 800
             }
            },
            "localized": {
             "title": "Derek Barnes",
             "description": ""
            },
            "country": "US"
           },
           "status": {
            "privacyStatus": "public",
            "isLinked": true,
            "longUploadsStatus": "eligible"
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 07:13:07 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCAmh1DexLGcMtDlzMCIxo4w&part=contentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/vrIQD2pGDItTKHq8mnOL9o26-Kc"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#channelListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/vrIQD2pGDItTKHq8mnOL9o26-Kc\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#channel",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/ngI--kxx1ofo_JE1FM1rnUEs_xA\"",
           "id": "UCAmh1DexLGcMtDlzMCIxo4w",
           "contentDetails": {
            "relatedPlaylists": {
             "likes": "LLAmh1DexLGcMtDlzMCIxo4w",
             "favorites": "FLAmh1DexLGcMtDlzMCIxo4w",
             "uploads": "UUAmh1DexLGcMtDlzMCIxo4w",
             "watchHistory": "HL",
             "watchLater": "WL"
            }
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 07:13:07 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=LLAmh1DexLGcMtDlzMCIxo4w,FLAmh1DexLGcMtDlzMCIxo4w,UUAmh1DexLGcMtDlzMCIxo4w,HL,WL&maxResults=50&part=snippet,status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/uNODCWw5VIDgXrXP4Z0Ie2hKO_A"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlistListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/uNODCWw5VIDgXrXP4Z0Ie2hKO_A\"",
         "pageInfo": {
          "totalResults": 2,
          "resultsPerPage": 50
         },
         "items": [
          {
           "kind": "youtube#playlist",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/9QATsA4H7xNmSpLnLtJ3CxAWcco\"",
           "id": "LLAmh1DexLGcMtDlzMCIxo4w",
           "snippet": {
            "publishedAt": "1970-01-01T00:00:00.000Z",
            "channelId": "UCAmh1DexLGcMtDlzMCIxo4w",
            "title": "Liked videos",
            "description": "",
            "thumbnails": {
             "default": {
              "url": "http://s.ytimg.com/yts/img/no_thumbnail-vfl4t3-4R.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "http://s.ytimg.com/yts/img/no_thumbnail-vfl4t3-4R.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "http://s.ytimg.com/yts/img/no_thumbnail-vfl4t3-4R.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "Derek Barnes",
            "defaultLanguage": "en",
            "localized": {
             "title": "Liked videos",
             "description": ""
            }
           },
           "status": {
            "privacyStatus": "private"
           }
          },
          {
           "kind": "youtube#playlist",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/wmR_3sDFUjf6qIWAW_9wF4dByWw\"",
           "id": "UUAmh1DexLGcMtDlzMCIxo4w",
           "snippet": {
            "publishedAt": "1970-01-01T00:00:00.000Z",
            "channelId": "UCAmh1DexLGcMtDlzMCIxo4w",
            "title": "Uploads from Derek Barnes",
            "description": "",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/mio1RltQdw4/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/mio1RltQdw4/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/mio1RltQdw4/hqdefault.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "Derek Barnes",
            "localized": {
             "title": "Uploads from Derek Barnes",
             "description": ""
            }
           },
           "status": {
            "privacyStatus": "public"
           }
          }
         ]
        }
  recorded_at: Thu, 06 Feb 2020 07:13:07 GMT
recorded_with: VCR 5.1.0
