---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/youtube.readonly https://www.googleapis.com/auth/youtube https://www.googleapis.com/auth/youtube.upload",
          "token_type": "Bearer"
        }
  recorded_at: Sun, 13 Nov 2022 04:59:04 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/subscriptions?forChannelId=UCBR8-60-B28hp2BmDPdntcQ&maxResults=50&mine=true&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#SubscriptionListResponse",
          "etag": "1fL6gG1hob1FBFaVSamuS5vJk4Y",
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 50
          },
          "items": [
            {
              "kind": "youtube#subscription",
              "etag": "a0rWXabiTI2D3w9EfS2jP-AC87E",
              "id": "Kpk8O-k2WN4rOlyMbntWXZRutauAkCTBYlekxmii9OQ",
              "snippet": {
                "publishedAt": "2022-11-13T04:58:53.86789Z",
                "title": "YouTube",
                "description": "YouTube's Official Channel helps you discover what's new & trending globally. Watch must-see videos, from music to culture to Internet phenomena",
                "resourceId": {
                  "kind": "youtube#channel",
                  "channelId": "UCBR8-60-B28hp2BmDPdntcQ"
                },
                "channelId": "UCw8YVwTcsfscB9Rek5M1bvA",
                "thumbnails": {
                  "default": {
                    "url": "https://yt3.ggpht.com/584JjRp5QMuKbyduM_2k5RlXFqHJtQ0qLIPZpwbUjMJmgzZngHcam5JMuZQxyzGMV5ljwJRl0Q=s88-c-k-c0x00ffffff-no-rj"
                  },
                  "medium": {
                    "url": "https://yt3.ggpht.com/584JjRp5QMuKbyduM_2k5RlXFqHJtQ0qLIPZpwbUjMJmgzZngHcam5JMuZQxyzGMV5ljwJRl0Q=s240-c-k-c0x00ffffff-no-rj"
                  },
                  "high": {
                    "url": "https://yt3.ggpht.com/584JjRp5QMuKbyduM_2k5RlXFqHJtQ0qLIPZpwbUjMJmgzZngHcam5JMuZQxyzGMV5ljwJRl0Q=s800-c-k-c0x00ffffff-no-rj"
                  }
                }
              }
            }
          ]
        }
  recorded_at: Sun, 13 Nov 2022 04:59:05 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/youtube/v3/subscriptions?id=Kpk8O-k2WN4rOlyMbntWXZRutauAkCTBYlekxmii9OQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 13 Nov 2022 04:59:05 GMT
- request:
    method: post
    uri: https://www.googleapis.com/youtube/v3/subscriptions?part=snippet
    body:
      encoding: UTF-8
      string: '{"snippet":{"resourceId":{"channelId":"UCBR8-60-B28hp2BmDPdntcQ","kind":"youtube#channel"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      enco[...]
