---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=<YT_TEST_CLIENT_ID>&client_secret=<YT_TEST_CLIENT_SECRET>&refresh_token=<YT_TEST_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<YT_TEST_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/yt-analytics.readonly openid https://www.googleapis.com/auth/yt-analytics-monetary.readonly https://www.googleapis.com/auth/youtubepartner",
          "token_type": "Bearer",
          "id_token": "<YT_TEST_ID_TOKEN>"
        }
  recorded_at: Wed, 12 Feb 2020 17:13:39 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PLbj-IDe6g8vtax1SakLEwOdOEv-nvjiy0&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/r0bvHJ63Af7UH3ZtJkhkrVf8NSI"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlistListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/r0bvHJ63Af7UH3ZtJkhkrVf8NSI\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#playlist",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/7tiKAENApBeo8euF6WfCvON4Sa0\"",
           "id": "PLbj-IDe6g8vtax1SakLEwOdOEv-nvjiy0",
           "snippet": {
            "publishedAt": "2020-02-12T17:12:14.000Z",
            "channelId": "UCAmh1DexLGcMtDlzMCIxo4w",
            "title": "Yt Test ‹ ›",
            "description": "‹ ›",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/B9lEC_cXZMQ/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/B9lEC_cXZMQ/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/B9lEC_cXZMQ/hqdefault.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "Derek Barnes",
            "tags": [
             "‹tag›"
            ],
            "localized": {
             "title": "Yt Test ‹ ›",
             "description": "‹ ›"
            }
           }
          }
         ]
        }
  recorded_at: Wed, 12 Feb 2020 17:13:39 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PLbj-IDe6g8vtax1SakLEwOdOEv-nvjiy0&part=status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Fznwjl6JEQdo1MGvHOGaz_YanRU/jZFZsh9galPnn2brXBuktA-98Qo"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlistListResponse",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/jZFZsh9galPnn2brXBuktA-98Qo\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#playlist",
           "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/CVodqXWSTaOV81SjkQByhjKm2PM\"",
           "id": "PLbj-IDe6g8vtax1SakLEwOdOEv-nvjiy0",
           "status": {
            "privacyStatus": "private"
           }
          }
         ]
        }
  recorded_at: Wed, 12 Feb 2020 17:13:39 GMT
- request:
    method: put
    uri: https://www.googleapis.com/youtube/v3/playlists?part=snippet
    body:
      encoding: UTF-8
      string: '{"snippet":{"title":"Yt Test ‹ ›","description":"‹ ›","tags":["Yt Test
        Tag"]},"id":"PLbj-IDe6g8vtax1SakLEwOdOEv-nvjiy0"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<YT_AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlist",
         "etag": "\"Fznwjl6JEQdo1MGvHOGaz_YanRU/yEA_ogtU8L4iedfJLhBiTPduxww\"",
         "id": "PLbj-IDe6g8vtax1SakLEwOdOEv-nvjiy0",
         "snippet": {
          "publishedAt": "2020-02-12T17:12:14.000Z",
          "channelId": "UCAmh1DexLGcMtDlzMCIxo4w",
          "title": "Yt Test ‹ ›",
          "description": "‹ ›",
          "thumbnails": {
           "default": {
            "url": "https://i.ytimg.com/vi/9bZkp7q19f0/default.jpg",
            "width": 120,
            "height": 90
           },
           "medium": {
            "url": "https://i.ytimg.com/vi/9bZkp7q19f0/mqdefault.jpg",
            "width": 320,
            "height": 180
           },
           "high": {
            "url": "https://i.ytimg.com/vi/9bZkp7q19f0/hqdefault.jpg",
            "width": 480,
            "height": 360
           },
           "standard": {
            "url": "https://i.ytimg.com/vi/9bZkp7q19f0/sddefault.jpg",
            "width": 640,
            "height": 480
           },
           "maxres": {
            "url": "https://i.ytimg.com/vi/9bZkp7q19f0/maxresdefault.jpg",
            "width": 1280,
            "height": 720
           }
          },
          "channelTitle": "Derek Barnes",
          "tags": [
           "Yt Test Tag"
          ],
          "localized": {
           "title": "Yt Test ‹ ›",
           "description": "‹ ›"
          }
         }
        }
  recorded_at: Wed, 12 Feb 2020 17:13:40 GMT
recorded_with: VCR 5.1.0
